[2018-10-10 13:31] suwro commented on #199
worked like a charm - thank you...

[2018-10-10 23:03] Raggaer commented on #198
Thanks, while this option worked I opted to use an approach using `CellFormat` and adding extra cells for all rows (if theres a calendar event that week)

Thanks for the answer

[2018-10-10 23:03] #198 closed

[2018-10-11 13:59] SC-JC opened #200 "Problem when writing '<' with HTMLBasicNew"
I have a Webinterface where users can write formatted Text that gets saved as HTML snippets.

I use the library to write said snippets into a PDF file, which works pretty decent, as long as i replace some HTML tags with those the library can interpret.

It gets tricky when a user writes a '<' char in the snippet cause then everything up to the next HTML tag gets removed, including the '<' char.

I

[2018-10-11 15:21] jung-kurt commented on #200
The comment in the [source code](https://github.com/jung-kurt/gofpdf/blob/6421d61dcdc4da19badab16dc2a8af331c4fbbeb/htmlbasic.go#L32-L34) says it all:

Probably the best solution would be to use a [grown-up HTML parser](https://godoc.org/golang.org/x/net/html) but that introduces a dependency in an otherwise dependency-free package. For such limited support of HTML, maybe the best solution is to lo

[2018-10-19 07:45] tylerzika opened #201 "Cell after MultiCell"
I'm trying to achieve this:
<img width="355" alt="screen shot 2018-10-19 at 12 40 00 am" src="https://user-images.githubusercontent.com/1011888/47204221-a6ce4c80-d337-11e8-9d37-7ab170c8502b.png">
"INJECT ONE" all the way to "FOR" is a MultiCell. "REFILLS" is another cell. This is my code:

[code]
But the output is this:
<img width="744" alt="screen shot 2018-10-19 at 12 43 49 am" src="https://user

[2018-10-19 11:10] jung-kurt commented on #201
The example looks like two adjacent MultiCells. In the left box, the words wrap automatically. In the right box, you can use newlines ("\n") to control the lines.

[2018-10-29 07:11] dealwd opened #202 "How to add png image file?"
First I generate barcode. Then I need add this barcode to pdf. How to do that? I use **"github.com/boombuler/barcode"** for generate barcode.

    myCode, _ := code128.EncodeWithoutChecksum("sdsdsd39478234234")
    myCode, _ = barcode.Scale(myCode, 1500, 500)
    file, _ := os.Create("barcode.png")
    defer file.Close()
    png.Encode(file, myCode)

[2018-10-29 10:03] pitw commented on #202
Had exactly same question with boombuler/barcode.
Fortunately theres already a contrib for barcodes - even with same lib.

Check here:
https://godoc.org/github.com/jung-kurt/gofpdf/contrib/barcode

Or some examples in tests:
https://github.com/jung-kurt/gofpdf/blob/master/contrib/barcode/barcode_test.go

[2018-10-31 19:29] d1ngd0 opened #203 "Template placed wrong"
Running the following code you would expect a border of 2 inches all along the outside of the pdf document

[code]

Instead you get the box rendered at an offest of Ht - Wd... so although Y is set to 0 it renders at -8

[2018-10-31 23:12] jung-kurt commented on #203
You have definitely uncovered something odd. The simplest case works as expected:
[code]
The combination of a custom page and scaled template application seems to introduce the problem.

Did you determine that the offset is `Ht - Wd` from the code?

[2018-11-01 00:21] d1ngd0 commented on #203
I came to the conclusion after testing multiple sizes. Interestingly the problem doesn't appear when the height is greater than the width. Only when the width is greater than the height.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-01 00:57] jung-kurt commented on #201
@tylerzika, please reopen if using two adjacent cells does not solve problem.

[2018-11-01 00:57] #201 closed

[2018-11-01 00:58] #202 closed

[2018-11-01 11:40] zaheer6034 opened #206 "error handling"
I am using httpimg.Register method to register a url of image.
Like this `httpimg.Register(pdf, image_link, "")`
I have a json with different image url's, when I loop on all the urls and map them and register using httpimg.Register the url's and then embed the image in my pdf I came across an issue. The problem is there is possibility that url is broken (i.e image doesn't doesn;t exist in some url

[2018-11-01 12:09] jung-kurt commented on #206
You will want to use [`pdf.Error()`](https://godoc.org/github.com/jung-kurt/gofpdf#Fpdf.Error), [`pdf.ClearError()`](https://godoc.org/github.com/jung-kurt/gofpdf#Fpdf.ClearError) and friends. For example,
[code]

[2018-11-01 13:49] d1ngd0 commented on #203
Just so you are aware, When I changed letter to have a larger width than height
[code]

The simple implemention above fails as well. (obviously changing the size of the box drawn)

[code]

[2018-11-01 14:08] d1ngd0 commented on #203
I believe I found the issue. It occurs when a new template is create
[code]

This switches the orientation based on the width and height, although it is not an illegal operation to create a larger width than height and have an orientation of P.

I will work on a solution.

[2018-11-01 14:54] d1ngd0 commented on #203
#207 Added

[2018-11-01 15:42] #203 closed

[2018-11-02 09:56] zaheer6034 commented on #206
Thankyou very much for your response. It really helped me alot 👍

[2018-11-03 03:51] tylerzika commented on #201
@jung-kurt but both my left MultiCell and my right MultiCell use variables. How can I use newlines with a variable? The length of the variable can vary in length.

[2018-11-03 07:49] tylerzika commented on #201
actually `MoveTo()` is solving all my problems! Great function!!

[2018-11-03 12:00] jung-kurt commented on #201
Super!

[2018-11-08 15:00] Javivi commented on #99
Hello @Noofbiz @jung-kurt !

Did anything come out of this 👍 ?

[2018-11-08 22:16] Noofbiz commented on #99
Pdftk was a dependence and it calls that via the command line. I started looking at the spec for pdf and tried to make a parser myself but that never really went anywhere. I can see if I still have the code for that somewhere but all I don't think I got very far

[2018-11-10 22:19] #206 closed

[2018-11-10 22:20] jung-kurt commented on #206
Glad that worked.

[2018-11-13 11:02] flibustenet opened #209 "SplitLines != MultiCell"
Hi,

I use SplitLines to know the max height of cells in rows of a table.

For one string I don't find the same result with SplitLines and Multicell. SplitLines say 1 line, MultiCell write 2 lines. I've looked quickly in the code of MultiCell, it seems that it doesn't use exactly the same code, something about int/float64 ?

[code]

[2018-11-13 12:16] jung-kurt commented on #209
Unfortunately, the various commit messages for [`SplitLines()`](https://godoc.org/github.com/jung-kurt/gofpdf#Fpdf.SplitLines) evidently were not carried over from the old Google Code repository, where the function was introduced, to Github. I seem to remember that Bruno Michel, the author of the function, needed to know in advance the number of lines needed when constrained by a given width. Then

[2018-11-13 17:16] flibustenet commented on #194
I'm not sure the contrib should go outside, it will be more work to make them in sync with gofpdf.
It doesn't _break_ `go.mod`, it's a feature for reproductibility.
https://github.com/golang/go/wiki/Modules#why-does-go-mod-tidy-record-indirect-and-test-dependencies-in-my-gomod

There are still open discussions to decide what to do with indirect dependencies. Maybe they will stay but move in the en

[2018-11-16 11:21] #209 closed

[2018-11-19 09:04] SanjayMW opened #211 "The Content in pdf is not in center. It by default is left aligned."
I want to export an excel file data in PDF. The data in the excel table is left aligned. Can you please help me to make it center aligned.
I have attached a downloadable link for it as well.
[report.pdf](https://github.com/jung-kurt/gofpdf/files/2594463/report.pdf)

[2018-11-20 00:47] Noofbiz commented on #99
I just pushed the changes to my branch here https://github.com/Noofbiz/gofpdf there's a lot of work to do still and it's nowhere near updated to the recent gofpdf, so sorry about that :P

[2018-11-21 06:18] SanjayMW commented on #211
Actually my question was not clear, I want to have the whole table in the center,not the data in the table.

[2018-11-21 12:17] jung-kurt commented on #211
Set the X position of the start of each row to one half of (full page width - table width). I have updated the [tables example](https://godoc.org/github.com/jung-kurt/gofpdf#example-Fpdf-CellFormat-Tables) to illustrate this.

[2018-11-23 10:12] jacobfederer commented on #129
I tried the approach it works fine with only one page. If the table is longer than one page and auto break is enabled the layout gets messed up. I'm working on a solution.

[2018-11-23 12:32] jung-kurt commented on #129
Thanks, @jacobfederer -- I look forward to seeing what you come up with.

[2018-12-04 16:14] d1ngd0 opened #213 "Use Pdf Template"
Considering the interface type Pdf should have all of the methods that are defined in Fpdf (which also then automatically get added to Tpl) would it make sense to make Fpdf and Tpl un-exported types and return a Pdf interface instead? I feel like this could simplify things from a user perspective.

I do understand however that this would be a breaking change so you likely won't want to do it, but

[2018-12-04 16:32] d1ngd0 commented on #213
I may be wrong, but wouldn't something like this break?

[code]
New would return a gofpdf.Pdf and not a *gofpdf.Fpdf so you would need to cast it to a Fpdf type

[2018-12-04 17:03] jung-kurt commented on #213
I think `New()` would still return the concrete type *gofpdf.Fpdf and `CreateTemplate()` would still return *gofpdf.Tpl, but functions like `StateGet(pdf *Fpdf)` could be changed to `StateGet(pdf Pdf)`. The idea would be to honor Postel's Law (in Go: “Accept interfaces, return structs”).

[2018-12-04 17:41] lassik opened #214 "Alignment doesn't take alias expansion into account"
Hi and thanks for the excellent library!

I found the following minor bug with the latest version: When you make a cell with right-aligned text, the width of the text is calculated before expanding aliases. If the alias is wider than its expansion (e.g. `{nb}` is wider than `1`) then the text is not aligned all the way to the right. Instead, there's a gap between the text and the right border. The

[2018-12-04 17:57] jung-kurt commented on #214
Thanks for the report, @lassik. [Aliasing](https://github.com/jung-kurt/gofpdf/blob/fe48001d4389ad79f7402b3c654c03409babac29/fpdf.go#L3221-L3224) is pretty lame with this library; the substitutions are strictly lexical with no awareness of the special formatting that put the '{nb}' key where it lands in the document. We could maybe implement some logic that puts the space difference between the ke

[2018-12-04 21:42] d1ngd0 opened #215 "Multicell in Template"
When in a template and using `AutoSetPageBreak(true, 0)` the template will only render the last page within the template. I am fully aware that the Tpl isn't intended to add new pages, so this isn't really a bug, however I would like to know if you put any thought into making it allow pages and any ideas you may have before I try tackling it.

Thanks!

[2018-12-04 21:54] jung-kurt commented on #215
Thanks for bringing this up. I wish @marcus-downing was still actively involved with this project or at least available to offer some suggestions.

[2018-12-05 09:59] marcus-downing commented on #215
Sorry...

The templates work as a sort of stamp: a group of elements that you add to a page, potentially with other elements such as a header/footer, background, overlay etc. If they flowed across multiple pages, you'd need to consider how and whether to duplicate elements. It sounds like what you need isn't so much a template as sub-document that can be slipped wholesale into one or more larger d

[2018-12-05 12:30] jung-kurt commented on #215
Good to hear from you, @marcus-downing -- thanks for your comments.

[2018-12-07 19:19] d1ngd0 commented on #215
#216 Added the ability to extract templates by pagenumber from a template. @marcus-downing I would love it if you could look into this, as I don't have a complete understanding of the underlying mechanisms that enable the template feature. Hopefully this solution isn't too horrid.

If I'm given the green light by the two of you I will invest some time in making propery unit tests for this new feat

[2018-12-07 22:51] marcus-downing commented on #215
That looks pretty good, actually.

- If I'm following it, the current behaviour of the `Bytes()` method is preserved because you use the template's internal page number.
- Is counting pages from 1 the convention throughout gofpdf? If so, a single empty `byte[]` is a small price to pay for making that work.
- Needs a comment on the `FromPages()` method.

It doesn't address the question of framing t

[2018-12-07 23:55] jung-kurt commented on #215
Nice work, @d1ngd0, and thanks for your remarks, @marcus-downing.

Yes. The internal page number starts at zero and is incremented with each new page.

[2018-12-08 00:00] jung-kurt commented on #215
The command line helpers `./check` and `./cov` should be run before committing. Sometimes I remember to actually do this.

[2018-12-09 02:56] d1ngd0 commented on #215
I will invest some time into this in the next few days, adding comments, unit tests, etc.... I'll remove my pull request as well and make a new one so everything is in the same commit

[2018-12-09 12:52] jung-kurt commented on #215
Excellent. I look forward to including your changes, @d1ngd0.

[2018-12-09 16:20] marcus-downing commented on #215
That shouldn't be necessary, if you just rebase and force-push to the same branch.

[2018-12-10 03:51] d1ngd0 commented on #215
Yes, I was planning on adding some unit tests.

[2018-12-12 18:13] d1ngd0 commented on #215
Alright, Updated the comments, and created a testcase for it. I also squashed everything so we should be good to go?

[2018-12-12 20:07] jung-kurt commented on #215
Thanks, @d1ngd0 -- merged with ec1d4b07b1a618f55f4a229ef08b72e02b032228

[2018-12-12 20:32] #215 closed

[2018-12-14 16:39] d1ngd0 opened #218 "Decode Bug"
I realized last night that I introduced a bug with the addition of Encoding and Decoding templates. When a template is created it is given an ID by the GenerateTemplateID method. This worked in the past because a template could not exist outside the context of it's original gofpdf package. However now that templates can be saved to files, or templates can be generated across a cluster of machines

[2018-12-14 16:45] jung-kurt commented on #218
Good catch. Can a unique ID be assigned when the stored template is loaded?

[2018-12-14 16:48] d1ngd0 commented on #218
That was my plan, I am going to keep the solution limited to the Encode and Decode functions. Essentially strip away the template id when encoding, and add a new one back in when decoding. Then we won't have clashing anymore.

[2018-12-14 21:15] d1ngd0 commented on #218
https://github.com/d1ngd0/gofpdf/commit/a94a239047daf957e399870de0ba56ef69dcc702

@jung-kurt and @marcus-downing (sorry to call on you again) hopefully you can give me a little insight here because from the standpoint of the Template this should work. I added the example go program to illustrate how this doesn't work, though obviously the PR won't have that in there...

What I am seeing right now

[2018-12-14 21:42] d1ngd0 commented on #218
Also, I was curious if the ID had to be a number? I changed it to a string locally and the pdf still rendered. I'm just curious if that is valid. If so would it make sense to have a default Template generator function, but allow the user to supply their own Template generator? That way people could use whatever id generation library they wanted without trying to build one internally or pulling in

[2018-12-14 22:09] marcus-downing commented on #218
A string or struct would provide a way of namespacing images to avoid any risk of a clash. They could then be flattened to something else on PDF output.

[code]

[2018-12-14 22:41] marcus-downing commented on #218
I'm pretty certain that template ID is not output anywhere in the resulting PDF.

[2018-12-14 22:42] marcus-downing commented on #218
And immediately after posting that, I saw that I was wrong 😄

[2018-12-14 22:44] marcus-downing commented on #218
However, `GenerateTemplateID` is global (and thread safe, since it's channel based), so even if you use templates inside templates, it'll never have a clash of template ID.

[2018-12-17 04:02] d1ngd0 commented on #218
Alright, I did some additional research on named objects and found that changing the id to a string won't stop the pdf from being valid. I have put some more work into a solution and would love to hear what you both think. I have added a prefix to the id, if you don't add a prefix the template id structure will remain the same as before.

https://github.com/d1ngd0/gofpdf/commit/8bc0bd27bc445644448

[2018-12-17 04:20] d1ngd0 commented on #218
Actually, after thinking about this. Couldn't we just make the ID method return the sha1 sum of the Bytes method?

[2018-12-17 12:55] jung-kurt commented on #218
Great idea!

[2018-12-17 16:16] jung-kurt commented on #218
Committed: 580543bbbf6ba6a65b8aa9cdbf7d15069d651cb5

[2018-12-17 19:18] d1ngd0 commented on #218
Thanks! It looks like fonts might be having the same issue. I am looking into a solution for this as well.

[2018-12-17 21:33] d1ngd0 commented on #218
#220
This should fix it.

[2018-12-18 01:17] #218 closed

[2018-12-18 14:26] d1ngd0 opened #221 "Font Hashes not consistent"
So, I guess using the hash of the json file doesn't create a consistent hash across templates, so something else will have to be used when generating the hash. I will get this fixed today, sorry for pushing a fix that only half fixed things.

[2018-12-18 15:05] d1ngd0 commented on #221
#222

[2018-12-18 21:08] d1ngd0 commented on #221
images might also be affected.

[2018-12-18 22:03] KevinStirling commented on #161
Hi, I just stumbled upon this thread while looking for a way to do something similar to this. Is there a way add bullet points in a cell on an individual basis? Like inserting a single unicode character? Sorry to use this as a support thread but I'm really struggling to find a way to do this

[2018-12-18 23:11] jung-kurt commented on #161
Unfortunately, gofpdf is really limited when it comes to unicode. It only handles fonts that are stored in code pages, that is, sets of up to 256 characters. What may help you is the [Zapf Dingbats codepage](https://en.wikipedia.org/wiki/Zapf_Dingbats) that is included in all PDF readers. Here is an example:
[code]

[2018-12-19 14:31] KevinStirling commented on #161
nice! thank you very much for the example!

[2018-12-23 13:50] #221 closed

[2018-12-26 01:51] Jinfaa opened #224 "Text with upper case in the center of the document"
Greetings to all!
Thanks to the developers for this great library!
I really liked how pdf creation was implemented and I started making a template. In the process of creating, I had a problem with creating a string with upper case. How can you do the same as in the picture? I want to note that the text should also be in the center.
![screenshot 2018-12-26 at 08 49 30](https://user-images.githubuse

[2018-12-26 16:15] leandrorichard commented on #6
@ghigt Thanks!

[2018-12-27 13:50] jung-kurt commented on #224
You can render subscripted and superscripted text with the [`SubWrite()`](https://godoc.org/github.com/jung-kurt/gofpdf#Fpdf.SubWrite) method. (This is a recent addition.) However, you'll need to make some small manual adjustments in order to center the text on a line. For example, you may want to measure the text without subscripts or superscripts using [`GetStringWidth()`](https://godoc.org/gith

[2018-12-27 13:53] Jinfaa commented on #224
Thanks for the answer! I'll try!

[2018-12-28 08:56] Jinfaa commented on #224
@jung-kurt Some problems I have. I mean an array of names and to it is superscripted text. I stopped at this:
1. I get the width of the string. Unmarked: 1,2,3 ...
2. I divide the string using ",".
3. Next, I'll give the code better:

[code]

But I’m getting something completely different from what I wanted. All due to the fact that I do not know how to properly divided into lines.
![screenshot 20

[2018-12-28 10:16] Jinfaa commented on #224
Tell me is it possible to somehow modify the function html2pdf, so that it supports superscript?

[2018-12-28 13:20] jung-kurt commented on #224
It may be easier not to join the reference items at first. Here is an example:

[code]
This example does not center the lines, but you have all the information needed to do so.

This would be an excellent enhancement. I will make a note about this.

[2018-12-28 14:01] Jinfaa commented on #224
@jung-kurt thanks for the help. I remembered html2pdf because it is well implemented, and I have mixed text, with many different tags, such as italics, underscores, and superscripts. so I look forward to this improvement! Thanks for your beautiful library.

[2019-01-09 23:56] tdewolff commented on #168
I would also be interested in this feature. I have multiple drawing back-ends that I support (rasterized, SVG, PDF, EPS) which I would all like to take Type1/TrueType/OpenType as inputs directly. So the library would embed them into PDFs in-memory. Is this something you plan on adding soon? I might be able to do some work on this too if you like and if time allows.

[2019-01-10 01:33] jung-kurt commented on #168
Sounds like a great project, @tdewolff. I have mused about writing a PDF generator for the [pandoc](https://pandoc.org/) intermediate language.

I have not had time to pursue this enhancement, so any ideas and work you can contribute would be greatly appreciated.

I see two approaches. One would be to work with gofpdf's limitation of using code pages, essentially indexed arrays of 256 or fewer gly

[2019-01-10 07:57] FrankIT60 opened #226 "different hashes for the same file"
Hello,

Even if I always create the same file I get different hashes.
I think that a timestamp or similar mechanism is inserted during the creation of the file.
In case it would be possible to configure this as an option?

For example it would be useful if you want to reproduce a document and be sure it is the same as the original.

Thanks
Franco

[2019-01-10 19:25] d1ngd0 opened #227 "Composite Fonts"
currently only simple fonts are allowed, and any attempt to render using a composite font will just drop anything outside the 256 glyphs. I have been digging into Composite fonts [here](https://www.adobe.com/content/dam/acom/en/devnet/pdf/pdfs/pdf_reference_archives/PDFReference.pdf) and have also dug into TCPDF's addTTFfont method. I was considering trying to port that method over here in the fol

[2019-01-10 21:11] jung-kurt commented on #227
Thanks for your offer to help in fixing gopdf's most glaring limitation. I'm not too familiar with composite fonts but they appear to be a pre-Unicode attempt to deal with fonts having more than 256 glyphs. Two concerns:
* Might it be more future-proof to implement a Unicode solution than a CID solution?
* Using code from TCPDF would require gofpdf to give up its use of the MIT license.
See some o

[2019-01-14 15:58] devEntrega opened #228 "Can't add image with JPG"
Just the title says, I can't add picture with JPG format, it appears the error "not a PNG buffer", is JPG format supported or not?

Thanks.

[2019-01-14 17:34] jung-kurt commented on #228
JPG images are supported, see [this example](https://godoc.org/github.com/jung-kurt/gofpdf#example-Fpdf-Image). Might your JPG image file have the wrong extension, or the type argument to `Image()` be incorrect?

[2019-01-14 19:07] devEntrega commented on #228
I see, now the problem is when I change png to jpg, I get panic error when I try to get ImageInfo, I "register" and same results (nil), with PNG works without problem.

[2019-01-15 16:31] d1ngd0 commented on #168
Could we just pull in the font code from gopdf? I would be willing to give this a try if there isn't a reason I shouldn't.

[2019-01-15 19:04] jung-kurt commented on #168
We could. I don't have a feel for whether it would be easier to do that or to transfer high-level functionality over to gopdf. I'll be interested to hear your thoughts if you look into this.

Much appreciated! I am happy to pitch in if you can create a roadmap.

[2019-01-17 15:39] d1ngd0 commented on #168
[code]
Have you put some serious though into something like this? Would you want to maintain the gofpdf library with this base or would you want to start PRing high level functionality into gopdf if the author wanted? Otherwise would you just create a fork of gopdf and create a new library?

[2019-01-17 16:13] jung-kurt commented on #168
No, I have only mused about it.

Either approach works for me. I think it makes sense to pursue the path that involves the least disruption. gopdf appears to be well-modularized, so gofpdf's high level API may carry over with very little friction. Also, it could be done incrementally, which is seldom a poor tactic.

I am reluctant to do that unless the end goal is to pull it into one or the other

[2019-01-17 16:24] d1ngd0 commented on #168
Sounds good. In the coming days I will add a branch to my fork that is just the gopdf library and I will start pulling the high level functionality over. I'll let you know how it goes. This will allow us to PR any updates so the author of gopdf can take and leave whatever they want.

Considering this, I think it would be nice to hear what your vision for this library is while I work on this.

[2019-01-17 18:16] jung-kurt commented on #168
Terrific! I look forward to learning how it proceeds.

Go idioms like `pdf.X()` should be used rather than the original FPDF names like `pdf.GetX()`.

Take care not to interfere with established Go interfaces like io.Writer. For example, gofpdf's current `Write()` has a signature that keeps Fpdf from implementing the io.Writer interface. (Ouch.)

If string buffering is needed (it might not be), us

[2019-01-17 22:08] d1ngd0 commented on #168
I have started a new branch on my fork
https://github.com/d1ngd0/gofpdf/tree/ftr/gopdf
As you can see I moved all the gofpdf code into a folder called old/ and then placed all the gopdf files in the base directory. I changed the GoPdf struct to Fpdf and have added margins and units. In the next few days I will put together a plan on how to tackle this as a group.

[2019-01-17 22:56] jung-kurt commented on #168
Excellent! I will follow your commits closely and lend a hand when able.

[2019-01-25 16:51] d1ngd0 commented on #227
https://github.com/signintech/gopdf/issues/98 I reached out to the author of gopdf so he can pull code if he wants.

I have been making some good progress, I feel like this will be a good way of moving forward. Just wanted to jump in here quick and let you know I am still working on this. I am working on Templates now. So far I have not been creating any tests, that is next on the list after templ

[2019-01-25 17:11] jung-kurt commented on #227
All good! Thanks for the update.

Good plan.

[2019-01-31 14:05] d1ngd0 commented on #227
Templates are done. I will likely get a plan moving forward written up today and put it here. Then do you have any preferences on where the code should be managed? At some point I assume you will pull my branch over without merging it.

[2019-01-31 16:31] jung-kurt commented on #227
Super!

If the plan is to have people begin using, testing and commenting on your new work, maybe I can just add a message and link from gofpdf's landing page to your repository. This way people can get right to your latest work.

I see that the gopdf maintainer is actively merging your changes, so it looks like all pieces are in place for that project to become the defacto PDF generator for Go. W

[2019-02-13 05:04] sayhei commented on #115
how is that going?@itsbalamurali

[2019-02-20 08:21] laurent-allo commented on #163
Hi,

I try to use this method to embed some image but i doing something wrong i think.

1° First step i encode my image with base64 :
`    imgdata, err := ioutil.ReadFile("signature.png")
    if err != nil {
        panic(err)
    }
    Base64Image := base64.StdEncoding.EncodeToString(imgdata)
`
2° Second step, i decode my image and try to put in into pdf :
`	reader := strings.NewReader(base64.Std

[2019-02-20 12:20] jung-kurt commented on #163
You want [DecodeString()](https://golang.org/pkg/encoding/base64/#Encoding.DecodeString) rather than that second call to `EncodeToString()`. Be sure to check the returned error code.

[2019-02-20 14:17] laurent-allo commented on #163
Hi,

Thank for fast answer, i make the change and check the error code all it's ok (i store encode data into file) an after load it (with ioutil ReaderFile ).
But i have an error : "erreur : interlacing not supported in PNG buffer 0x7f9f10"

My new code for the pdf part  (where 'signatureData' is result of DecodeString :
`	reader := bytes.NewReader(signatureData)
	infoSignature := pdf.RegisterImag

[2019-02-20 16:21] jung-kurt commented on #163
It looks like your PNG image is interlaced, that is, encoded so that an unresolved image appears very quickly and then, over seven pases, becomes more highly resolved. It looks like the Go standard library supports [Adam7](https://en.wikipedia.org/wiki/Adam7_algorithm)  interlacing but for some reason gofpdf does not. (This could be because the PHP code on which gofpdf is based was copied verbatim

[2019-02-25 12:06] joewestcott commented on #166
@jung-kurt Do you think it's better to find an external package to do the rasterisation for us, as described above, or to continue with our implementation of parsing and drawing from the SVG code?

The former sounds easier, but the rasterisation process involved will come with a trade off of quality vs file size for the resulting PDF. With the latter, we'd have to write/maintain a great deal of SV

[2019-02-25 12:50] jung-kurt commented on #166
This is a really good question. It's a shame to rasterize an SVG image when PDF supports most of its underlying graphic commands. If you have a particular use case that isn't too complex, it might be worth the effort to extend the very basic support that gofdpf has, although I can't vouch for how robust its parser is. I wonder if @ajstarks (author of [svgo](https://github.com/ajstarks/svgo) has an

[2019-02-25 23:44] ajstarks commented on #166
As you know svgo is a generator, not a rasterizer, however @srwiley has some interesting work on rasterizing SVG: see https://github.com/srwiley/oksvg and https://github.som/srwiley/scanx and rasterx

[2019-02-26 00:11] jung-kurt commented on #166
Thanks, @ajstarks. Do you know if any work has been done to map SVG commands to PDF's vector commands? For example, gofpdf supports rudimentary, path-only SVGs by mapping M, C and L commands to "move to", Bézier curve and "line to" PDF primitives respectively. Simple line paths can thus be rendered without any rasterization. You probably know more than anyone how big a job it would be to extend th

[2019-02-26 15:03] ajstarks commented on #166
The SVG spec is quite large -- what subset would you want to support?

[2019-02-26 15:12] jung-kurt commented on #166
For my purposes, it would be sufficient to support simple charts without text or embedded images. But @joewestcott, who rekindled this thread, may have other requirements.

[2019-02-26 16:07] ajstarks commented on #166
Interesting you mention charts; note the dchart program, (https://github.com/ajstarks/deck/blob/master/cmd/dchart/README.md) which uses the gofpdf client, pdfdeck, for PDF rendering  (https://github.com/ajstarks/deck/blob/master/cmd/pdfdeck/pdfdeck.go)

[2019-02-26 16:12] jung-kurt commented on #166
Perfect! This will be a great resource.

[2019-03-02 21:07] joewestcott commented on #227
How's this project going, @d1ngd0?

[2019-03-02 22:45] joewestcott opened #234 "TransformGroup and the graphics state stack"
The following code should produce two orange rectangles at x:0 and x:10.
[code]

However, the second rectangle is black. It seems the second 'set' command is not writing the color change to the PDF, as gofpdf's internal state already has this color set. However, the call to `TransformBegin` has created a new graphics state stack in the PDF which has reset many font, line, and color parameters.

To

[2019-03-02 23:25] jung-kurt commented on #234
Wow -- good observation. This catches me entirely by surprise. You are correct about saving and resetting attributes as the following example shows:
[code]
I will look into this more and see what I can uncover. I am confused by section 8.4 in the reference: it seems that it is the reader's responsibility to stack and unstack the attributes before and after a transformation. How do you read that?

[2019-03-04 02:22] d1ngd0 commented on #227
I've gotten pulled off this temporarily because I needed to get some other internal projects done. I believe I got most of the harder things pulled over. At this point I really need to set up a roadmap and start getting external help to finish.

[2019-03-04 16:18] joewestcott commented on #234
It seems like that's the case.

In terms of fixing it I can see two solutions, the first being to remove the existing 'is this value already set' checks before many of the setters (`SetFontSize`, `SetFillColor`, etc). The second being to implement our own graphics state in an array, and pop/push the values inside the `TransformBegin` and `TransformEnd` functions.

That could work like this:
1. We'

[2019-03-04 17:08] jung-kurt commented on #234
Thanks for the excellent summary, @joewestcott.

My inclination is to implement your first solution. These 'set only if the values are different' checks are fewer than the number of possible graphic attributes that would need to be bundled into a stackable GraphicsState. (Table 52 in the specification shows a *lot* of parameters.)

Regarding your second solution, when developing the charting funct

[2019-03-06 21:09] jung-kurt commented on #234
I just commited 6b7c17b5b904039a423e8df6e51875702bae5763 that makes graphic property assignments unconditional. [ExampleFpdf_SetFillColor](https://godoc.org/github.com/jung-kurt/gofpdf#example-Fpdf-SetFillColor) shows transformations working as expected.

[2019-03-06 21:10] jung-kurt commented on #228
Please reopen if this problem can be pinpointed to a bug in gofpdf rather than just an invalid image.

[2019-03-06 21:10] #228 closed

[2019-03-06 21:11] jung-kurt commented on #226
Please reopen if the timestamp and catalog functions shown above don't solve your problem.

[2019-03-06 21:11] #226 closed

[2019-03-07 05:09] renzrod18 commented on #129
hi i want to ask how i can text wrap a value from html input? TIA

[2019-03-08 23:46] joewestcott commented on #234
Amazing! Thanks for doing this. I've noticed a few more setters in the library that also exhibit the same issue, so I've submitted a PR (#235) removing state checks from the following methods. I think this is all of them!
`SetFontSize`, `SetFontUnitSize`, `SetAlpha`, and `SetDashPattern`.

[2019-03-09 12:37] jung-kurt commented on #234
Good catches, @joewestcott -- I completely missed those. And thanks for testing the changes.

[2019-03-09 13:08] jung-kurt commented on #234
I just factored the pattern drawing code in the transformation / graphic state test and noticed a bug. When `pdf.SetXY()` is used to position the drawing cursor, the position is properly translated. But when `pdf.CellFormat()` is used with text centering, the position appears to be translated by twice the amount it should. The problem seems to be that the page's margins are used in the positioning

[2019-03-20 20:56] TwinProduction opened #236 "Wrong tag for 2.1.3"
[All releases/versions so far have been prefixed with `v`, but not `2.1.3`.](https://github.com/jung-kurt/gofpdf/releases)

I'm not sure whether this was intentional, but it might cause some annoyance for people using dependency management tools like `dep` as the version format is no longer consistent.

CC: @jung-kurt (you're the only one who can currently create tags)

[2019-03-20 22:53] jung-kurt commented on #236
Oops, my fault. Thanks for bringing that to my attention, @TwinProduction.

[2019-03-20 22:53] #236 closed

[2019-03-23 07:44] dineshkumars98 commented on #129
hi @jung-kurt
Can merge the cell's in the table? How would you do?

[2019-03-23 14:15] jung-kurt commented on #129
Tables in gofpdf are built up of individual cells. You can merge them manually with something like this:

[code]

[2019-03-27 13:37] dineshkumars98 commented on #129
very very Thankful

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
27/03/19,
7:06:46 pm

On Sat, Mar 23, 2019 at 7:45 PM Kurt Jung <notifications@github.com> wrote:

[2019-03-27 13:56] dineshkumars98 commented on #129
But here we can't be merge corner cell.
Like:-
Merged cell
Name:
Class:
Sub Mark1 Mark2 Mark3
SUB1 1 2 3
SUB2 4 5 6
SUB3 7 8 9

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
27/03/19,
7:25:34 pm

On Wed, Mar 27

[2019-03-27 14:42] dineshkumars98 commented on #129
Hi,
Thank you... I got it!.... by the way
package main

import (
    "fmt"

    "github.com/jung-kurt/gofpdf"
)

func main() {
    const (
        colCount = 4
        rowCount = 3
        margin = 32.0
        fontHt = 14.0 // point
    )
    pdf := gofpdf.New("L", "mm", "A4", "")
    cellWd := (297 - margin - margin) / colCount
    cellHt := pdf.PointToUnitConvert(fontHt) + 10.0
    pdf.SetFont(

[2019-03-28 17:13] snargleplax opened #238 "Wrong page split behavior with multiple MultiCells across same page break"
# Synopsis

The automatic page-breaking behavior for `MultiCell` behaves incorrectly when multiple calls to `MultiCell` cause their generated cells to span the same page break. This arises e.g. when trying to render a multi-column table with a row that spills over a page break. The first cell breaks as expected (in my repro, between pages 1 and 2), but the second appears to incorrectly trigger the

[2019-03-28 17:41] jung-kurt commented on #238
Nice writeup, @snargleplax. Thanks for coming up with the code to reproduce the bug. I'll look into this.

[2019-04-01 10:20] dineshkumars98 commented on #129
hi @jung-kurt
One more question..!
If the table exists the 1-page alignment is missed... This is a bug or else need to configure anything?
like:
![Screenshot from 2019-04-01 15-47-20](https://user-images.githubusercontent.com/31267690/55320787-a7960d80-5495-11e9-88f5-6405c03ebae8.png)

[2019-04-08 13:16] klixpert opened #239 "Border is coverd by fill-color"
If you use **CellFormat** with the **borderStr "LB"** or anything else the border gets coverd by the fill color. If you use the borderStr "1" everythin is fine.

https://github.com/jung-kurt/gofpdf/blob/24315acbbda57c4f6b80c8441fd108087dd7e305/fpdf.go#L1991

[2019-04-08 18:36] lkoller commented on #238
I am also seeing this same bug in a project I'm working on -- any good leads on a fix?

[2019-04-08 20:45] jung-kurt commented on #239
It looks like the fill/border code in this [range](https://github.com/jung-kurt/gofpdf/blob/24315acbbda57c4f6b80c8441fd108087dd7e305/fpdf.go#L1988-L2025) is improperly factored. The partial border code uses a fill code of 'S', that is, it assumes there will be no fill. The solution may be as easy as a conditional statement right beneath
[code]
that sets the op code to 's' or 'S' and then uses that

[2019-04-08 21:13] klixpert commented on #239
no worry. I just noticed.

Am Mo., 8. Apr. 2019 um 22:45 Uhr schrieb Kurt Jung <
notifications@github.com>:

--

*WE GROW YOUR BUSINESS!*

*digital.*
*sales.*
*now.*
Florian Narr
*KLIXPERT.io*
m: +43 676 971 01 12
w: www.klixpert.io  e: flo@klixpert.io <mario@klixpert.io>
[image: Inbound Certification] [image: HubSpot Marketing Software
Certification] [image: Agency Partner Certification]

[2019-04-08 21:25] jung-kurt commented on #238
I think the problem is [here](https://github.com/jung-kurt/gofpdf/blob/24315acbbda57c4f6b80c8441fd108087dd7e305/fpdf.go#L1974). When an automatic page break occurs, a new page is added unconditionally. One solution would be to check to see if the current page is not the last page, as in your example above. I will have to ponder the consequences of this a bit more.

[2019-04-09 00:43] jung-kurt commented on #238
You can obtain your desired results by manually controlling page breaks. Change
[code]
to the following
[code]
This assumes that the content in the leftmost column will be the longest. Automatic page breaks occur normally for this column. For subsequent columns, automatic page breaks are suppressed and, instead, the page is set to the following page and the X and Y coordinates are initialized appr

[2019-04-09 02:42] lkoller commented on #238
Thanks for the response -- here's how I solved for my situation incase anyone else is looking for an idea :)
[code]

[2019-04-09 11:51] jung-kurt commented on #238
Nice solution, @lkoller! It would be nice to fully automate something like this, but positioning the cursor when returning to an existing page will always be application dependent, so this seems like the best way to solve this problem.

[2019-04-10 03:03] zsspj12 opened #240 "How to add watarmark to pdf ?"
As title, In your  fpdf_test.go , I can't find a function to add watermark to pdf ?

[2019-04-10 12:18] jung-kurt commented on #240
To make a watermark that repeats on each page, use the [`SetHeaderFunc()`](https://godoc.org/github.com/jung-kurt/gofpdf#Fpdf.SetHeaderFunc) method. This lets you draw anywhere on the page as long as you reset the X and Y values before leaving the header function so that normal content begins where expected.

Adding a watermark to a document is demonstrated in the [TransformRotate example](https:/

[2019-04-10 13:35] zsspj12 commented on #240
3q, @jung-kurt , tomorrow let me have a try。

[2019-04-11 08:02] zsspj12 commented on #240
pdf.SetHeaderFunc() can add watermark，thank u。

[2019-04-14 19:57] ajstarks opened #241 "Error rendering custom font map"
I'm attempting to encode the weather icon font (https://erikflowers.github.io/weather-icons/) which contains 222 glyphs which I assume will fit into the 255 limit.

When rendered, the glyphs are not on the expected places (see attached PDF)

[weather.pdf](https://github.com/jung-kurt/gofpdf/files/3077822/weather.pdf)

The font encodes with makefont with no error:
[code]
Here is the weather-icons.m

[2019-04-15 01:09] jung-kurt commented on #241
I'm really stumped on this one. It looks like the glyph widths are properly indexed, but the glyphs themselves are not. The Unicode values are close to 64K which makes me wonder about an int16/uint16 issue, but I can't find anything along these lines either in gofpdf and makefont.

While I am tracking this down, you may be interested in a recent pull request (#237) that supports UTF-8 fonts. Licen

[2019-04-15 02:55] zsspj12 commented on #240
I had read issues/8，all my problem has resolved. but I still expect other contributor can finish read a pdf file as a template function.
Best wish to gofpdf.

[2019-04-15 11:24] jung-kurt commented on #241
Not a bug after all. It looks like the font map you used is inaccurate.

If you examine the font ([FontDrop!](https://fontdrop.info/) is very informative) you can get a list of glyph names in the data/names section. From that, you can construct an accurate font map. Here is a excerpt:

[code]
With this, you can use `makefont` to construct the JSON descriptor file. Then the following program shows

[2019-04-15 12:05] ajstarks commented on #241
wonderful, thank you.

[2019-04-15 12:16] ajstarks commented on #241
I'm wondering now, given my broken map, how it worked at all?

[2019-04-15 12:29] jung-kurt commented on #241
Not sure. When I view the PDF you posted above, I see only the standard CP1252 glyphs even though I can see that the document embeds the weather font. On your reader, are the weather icons actually rendered?

[2019-04-15 12:56] ajstarks commented on #241
yes, they are rendered, just in the wrong place.  Perhaps there should be some code in makefont does some validation of the glyph names.

[2019-04-15 13:21] jung-kurt commented on #241
This is curious! My PDF reader is the native Chrome OS viewer, and I don't see any weather icons at all in the PDF linked above.

Another thing: I downloaded weathericons-regular-webfont.ttf directly from the [weather-icons repository](https://github.com/erikflowers/weather-icons/blob/master/font/weathericons-regular-webfont.ttf). When I examine the glyph name listing at the end of the file with a

[2019-04-15 14:28] ajstarks commented on #241
thanks for your help, I will correct my map as you specified.  Probably ok to close.

[2019-04-16 09:27] tharun-d opened #242 "Page number"
Is there any way to add page numbers for every page in below of page

[2019-04-16 10:46] jung-kurt commented on #242
Yes, see [this example](https://godoc.org/github.com/jung-kurt/gofpdf#example-Fpdf-AddPage).

[2019-04-16 11:30] tharun-d commented on #242
thanks it solved

[2019-04-16 18:50] lkoller opened #243 "Question: Is there a way to add a page with no footer or header? Or is there a way to check if I'm on the last page?"

[2019-04-16 18:57] jung-kurt commented on #243
You can use the [`PageCount()`](https://godoc.org/github.com/jung-kurt/gofpdf#Fpdf.PageCount) method.

[2019-04-17 04:44] chocolatkey commented on #110
I recently started using this library, and am also interested in such a feature, for a different reason: My application is generating very large (500MB) PDFs on-the-fly as downloads. Instead of having the user open a link and wait for 5 minutes, and have to deal with http timeouts, it would be much nicer to be able to write to the  `http.ResponseWriter` after adding a page, like I am able to do fo

[2019-04-17 11:30] jung-kurt commented on #110
Interesting idea, @chocolatkey. Implementing the http.ResponseWriter interface (Header, Write, and WriteHeader) should not be a problem. My concern is whether all the really long parts in PDF generation take place before the actual emission of data. Methods like [`SetPage()`](https://godoc.org/github.com/jung-kurt/gofpdf#Fpdf.SetPage) allow the code to jump from page to page; this wouldn't be allo

[2019-04-17 14:32] jung-kurt commented on #241
I think the issue is this. When a Unicode character with a multibyte utf-8 rune is read by Go's standard library (in this case, by the `for _, r := range str` expression), it  is reported to gofpdf as the single value Unicode value (a rune), not as a byte slice. gofpdf looks this rune up in a map to find the corresponding code page byte position (0 - 255).

With the weather font, we have created a

[2019-04-17 19:03] chocolatkey commented on #110
@jung-kurt  Oh it's not the PDF generation or your library that's at fault, it's just how my code happens to work. The PDFs contain high-resolution images. These images are downsized on the fly from very high-resolution sources, and this downsizing is what takes a while, and is done while adding it to the PDF.

[2019-04-17 19:45] jung-kurt commented on #211
Please reopen this issue if the previous advice didn't work for you.

[2019-04-17 19:45] #211 closed

[2019-04-17 19:49] jung-kurt commented on #240
Please reopen if this is still an issue.

[2019-04-17 19:49] #240 closed

[2019-04-17 19:49] jung-kurt commented on #242
Good. Will close this now.

[2019-04-17 19:49] #242 closed

[2019-04-17 19:50] jung-kurt commented on #243
Please reopen if this issue has not been resolved.

[2019-04-17 19:50] #243 closed

[2019-04-17 20:08] jung-kurt commented on #110
It would be interesting to know if @klniu made progress with the streaming buffer idea.

After reading [Streaming a PDF From the Web to a Mobile or Desktop App](https://www.pdftron.com/blog/mobile/streaming-a-pdf-from-the-web/) I think that PDF linearization is needed to support your goal. I'm not sure how much work would be needed to rework gofpdf to generate linearized PDFs. Also, I'm not sure i

[2019-04-19 08:37] pruse2402 commented on #143
can I get the example program?

[2019-04-19 10:11] pruse2402 opened #245 "How to Split lines in one cell? In the below text i pasted is printing in one line because of that the text are missing so i need to split lines ([Manager: 12:35 AM - 12:36 AM] [Cashier: 12:36 AM - 01:00 AM] [Manager: 01:09 AM - 02:10 AM] [Cashier: 03:14 AM - 07:30 AM] [Cashier: 07:37 AM - 12:05 AM])"
![issue](https://user-images.githubusercontent.com/48112231/56419906-92a0e300-62b9-11e9-9414-b1be404bc465.png)

[2019-04-19 11:00] jung-kurt commented on #245
See the [SplitLines (Tables)](https://godoc.org/github.com/jung-kurt/gofpdf#example-Fpdf-SplitLines-Tables) example.

[2019-04-24 15:31] crosslogic opened #247 "Cell overflow"
Is there anyway to keep the text inside the cell if it's too long?

I want to reduce the size to fit inside the cell, or cutting the part that overflows.

[2019-04-25 17:56] gypsyfeng commented on #110
I am generating a pdf file with hundreds of pages. It eats up all my memory and freeze my os. It would be nice if we could stream out the "written" part or write the "written" part to file and keep adding the later "written" part to the file.

[2019-04-26 09:41] joewestcott commented on #247
`pdf.GetStringWidth()` is really useful for this.
The loop below will take `$str`, your string to fit, and `$targetWidth` the cell width. (Assuming you know this value) It'll reduce the font size until it fits within.

[code]
It doesn't handle newlines, and definitely could be optimised. Choose your start font size and step amounts wisely!

[2019-04-29 19:37] jung-kurt commented on #110
@gypsyfeng

I agree, this would be a very welcome enhancement. One approach would be to use gofpdf to generate a bunch of single page PDFs, and then use a PDF utility like pdftk or qpdf to merge them together. It may be, however, that doing this would simply defer the memory issues to the merging utility.

[2019-04-29 19:45] jung-kurt commented on #110
@chocolatkey

It may be that the downsizing algorithm used by the image package in the Go standard library, or the way gofdpf is calling into it, is not as optimal as other utilities. Maybe an independent application could downsize a number of images concurrently and gofpdf could read the output of that program.

[2019-05-03 05:10] tharun-d opened #249 "add Fpdf_SplitLines_tables.pdf in pdf folder"
add Fpdf_SplitLines_tables.pdf in pdf folder for reference

[2019-05-04 15:04] phpdave11 commented on #8
I have created a go package called [gofpdi](https://github.com/phpdave11/gofpdi) (Go Free PDF Document Importer) that allows you to import PDFs.

So far I have integrated it with [gopdf](https://github.com/signintech/gopdf), but it shouldn’t be too hard to integrate it with gofpdf.  Here’s an example of how it works with gopdf:  https://github.com/signintech/gopdf/issues/109

I

[2019-05-07 00:06] ajstarks opened #250 "incorrect UTF-8 Rendering ("tofu")"
Using this program:
[code]
The generated PDF file shows "tofu" (empty rectangle)
when run with this command
``` $ DECKFONTS=$GOPATH/src/github.com/jung-kurt/gofpdf/font go run utftest.go```

I've also attached a screenshot showing the setup and rendering in mupdf and Chrome.

The contents of "hello.txt" is:
```Hello, 世界```

![Screenshot from 2019-05-06 19-54-14](https://user-images.githubuserconte

[2019-05-07 00:12] ajstarks opened #251 "AddUTF8Font panics with file not found"
If the file cannot be found, AddUTF8Font panics instead of returning an error:

[code]

[2019-05-07 00:15] ajstarks commented on #250
Attached is the generated PDF
[utf.pdf](https://github.com/jung-kurt/gofpdf/files/3150266/utf.pdf)

[2019-05-07 01:01] jung-kurt commented on #250
I'm not sure about the "tofu" problem. When I call `pdf.Text()` with that string literal it renders correctly, so you may want to hex dump the contents of hello.txt file after it is read to see what is going on.

The Deja Vu fonts do not include CJK code points, so that is the reason the "世界" string does not render. The following works, but the font doesn't seem to support ASCII characters. I am n

[2019-05-07 01:04] jung-kurt commented on #251
Thanks for the report, @ajstarks. I'll look into it.

[2019-05-07 01:25] jung-kurt commented on #251
Should be fixed with 641cda87ac3cf98cf58400cb3ce7513b6cc74295. Please reopen if this is still a problem.

[2019-05-07 01:25] #251 closed

[2019-05-07 11:18] ajstarks commented on #250
The same happens with the Noto font (no tofu), which is specifically designed to have those code points.
See: https://www.google.com/get/noto/

[2019-05-07 11:32] ajstarks commented on #251
confirmed fixed.  thanks.

[2019-05-07 12:53] jung-kurt commented on #250
I downloaded [Noto-SC](https://fonts.google.com/?query=noto&selection.family=Noto+Sans+SC) (世界 shows up properly in the preview) but was unable to convert the OTF files to TTF using [FontForge](https://fontforge.github.io). Were you able to get a TTF directly?

[code]
This is a valid utf-8 string according to this [utf-8 tool](http://www.ltg.ed.ac.uk/~richard/utf-8.cgi), so I think it doesn't rend

[2019-05-07 13:03] ajstarks commented on #250
you can get the Noto TTF: here https://www.fontsquirrel.com/fonts/noto-sans

Another font to try is the Go fonts:
If you just want the TTF files, run

```git clone https://go.googlesource.com/image```
and copy them from the subsequent image/font/gofont/ttfs directory.

[2019-05-07 13:41] jung-kurt commented on #250
This font worked for me:

    https://github.com/jsntn/webfonts/blob/master/NotoSansSC-Regular.ttf

Note the "SC" suffix which denote simplified Chinese. It properly rendered the ASCII characters, 世界 and the contents of your hello.txt file.

[2019-05-07 15:11] ajstarks commented on #250
Great, I can reproduce.  Does the Go Font work for you?

[2019-05-07 15:24] jung-kurt commented on #250
No. One clue is the size of the files.

[code]

[2019-05-10 02:42] laice opened #252 "Custom page size"
Sorry this is more a question than an issue, are only standard page sizes supported or can this generate pdfs with custom dimensions?

[2019-05-10 11:17] jung-kurt commented on #252
Pages with custom dimensions are supported, see [this example](https://godoc.org/github.com/jung-kurt/gofpdf#example-Fpdf-PageSize).

[2019-05-10 19:16] laice commented on #252
Awesome, thank you!

[2019-05-10 19:16] #252 closed

[2019-05-11 02:46] laice opened #253 "Confusing output"
Hi, I'm having a hard time understanding the output I'm getting - mainly the way newlines and page breaks work. Why does this page break to the next page? Why does it seem like sometimes newline works and sometimes it doesn't? I've also tried multiple calls to WriteAligned instead of concatenating strings, but I still get confusing output with page breaks that I don't understand. Thanks for any ad

[2019-05-13 00:53] jung-kurt commented on #253
I don't understand your results either. When I ran your code (using the Deja Vu Font instead of the agency font which I don't have) the newlines are placed right where they should be. You may want to try the Deja Vu font to see if there is a change.

[2019-05-14 01:12] laice commented on #253
Unfortunately unless I'm mistaken the Deja Vu fonts don't offer the same thin styled font that Agency FB is, it allows fitting more information in the same space, which is at a premium in my use case. Thank you for making me aware this is part of the problem space, however

[2019-05-14 01:34] laice commented on #253
I did find a Deja Vu Condensed, but it's not quite small enough - for example the Total THC line fits on one line in Agency FB. Is there something special about these extra thin fonts? Guess I'll look into that.  Also, I guess newlines are equal to page breaks? Is there are way to get a newline? Here's my output with the same code but the font changed to the above

[23597.pdf](https://github.com/j

[2019-05-14 11:45] jung-kurt commented on #253
I wouldn't think so, but it's worth a look.

No. I think because of the really small page size you are running into the 2 cm default page break margin. Note that `pdf.SetMargins()` only sets the left, top, and right margins. The bottom margin is specified separately because it is used for automatic page breaking. See [`SetAutoPageBreak()`](https://godoc.org/github.com/jung-kurt/gofpdf#Fpdf.SetAuto

[2019-05-14 11:49] jung-kurt commented on #253
If you are looking for text that is very thin, you may want to try using the [`TransformScaleY()`](https://godoc.org/github.com/jung-kurt/gofpdf#Fpdf.TransformScaleY) method to stretch text vertically.

[2019-05-14 16:11] phpdave11 commented on #8
_Originally posted by @jung-kurt in https://github.com/signintech/gopdf/issues/109#issuecomment-489337529_:

Hi @jung-kurt - I've [added a few functions](https://github.com/jung-kurt/gofpdf/pull/254) to the main library and I put the [code that imports gofpdi](https://github.com/jung-kurt/gofpdfcontrib/pull/2) in the gofpdfcontrib repository.  Here's an example of how you can import an existing PD

[2019-05-14 22:43] ajstarks commented on #250
ok to close

[2019-05-14 22:43] #250 closed

[2019-05-14 22:43] #241 closed

[2019-05-14 23:09] ajstarks opened #255 "generateCIDFontMap panic on loading fonts with glyphs indexed at high numbers"
Using the Symbola font (which contains 10744 glyphs -- see: http://users.teilar.gr/~g1951d/)
when trying to index into the emoji range 0x1f600 - 0x1f64f, generateCIDFontMap crashes
with index out of range.  Using a smaller range with the same font works fine

[code]

[code]

[2019-05-14 23:28] jung-kurt commented on #255
Thanks for the report, @ajstarks. At first glance, it looks like [this line](https://github.com/jung-kurt/gofpdf/blob/514e371ce761f71cf004bf0da3246824310b2e4f/utf8fontfile.go#L838) is the culprit -- the number of character widths is hard-coded to 65536. I think I'll need to dynamically extend this slice as needed.

[2019-05-15 11:22] jung-kurt commented on #255
Unfortunately, the problem goes deeper than just the size of the character width slice. When I increased the allocated size for testing purposes, the glyph table program did not crash but the characters did not render properly.

[2019-05-15 13:05] jung-kurt commented on #245
Please reopen if this is still an issue.

[2019-05-15 13:05] #245 closed

[2019-05-15 13:06] jung-kurt commented on #247
Please reopen if this is still an issue.

[2019-05-15 13:06] #247 closed

[2019-05-15 13:48] pruse2402 commented on #245
Thanks for your reply. Am not getting  the required  output. I don't know to implement this can someone help me to figure out this issue.

Thanks in advance

[2019-05-15 17:24] jung-kurt commented on #249
Done (e4895cb2e4a6b49e241d7668740c1a557ef4b8c5)

[2019-05-15 17:24] #249 closed

[2019-05-17 14:11] zolotokrylin commented on #8
+1 👍 . This feature is a must nowadays:)

[2019-05-17 15:20] phpdave11 commented on #8
@zolotokrylin this feature was merged into master.  To use it, import the gofpdi contrib pagkage:

[code]

Then import a page from a PDF:
[code]

Draw pdf onto page:
[code]

For width and height (the last 2 arguments) you can set one of those to 0 to automatically calculate the correct width or height based on the aspect ratio of the imported page.

[2019-05-21 19:11] tylerzika opened #258 "combine existing pdf to pdf generate by gofpdf into single pdf"
Is this possible? I would use go to query the pdf in my database, then get additional data using a JSON api to generate a new pdf with gofpdf, then combine them with gofpdf into a single pdf file.

[2019-05-21 19:21] jung-kurt commented on #258
This is now supported.

@phpdave11 Can you provide a minimal example?

[2019-05-21 19:33] tylerzika commented on #258
@jung-kurt nice! what about embedding a pdf inside a newly generated pdf created by gofpdf?

[2019-05-21 19:44] phpdave11 commented on #258
@tylerzika try the following code to embed an existing PDF into a new gofpdf document.  You will probably need to adjust the x, y, w, h arguments.

[code]
Import a page from a PDF and get back a template ID (to be used later).
[code]

Draw template onto page:
[code]

For width and height (the last 2 arguments) you can set one of those to 0 to automatically calculate the correct width or height bas

[2019-05-21 20:19] jung-kurt commented on #258
Thanks, @phpdave11!

[2019-05-24 09:19] tharun-d opened #260 "Arabic language"
Does this package support Arabic language. data is showing in correct format in my web application table but when download as pdf the strings of Arabic lanfuage are showing another special characters

[2019-05-24 12:01] jung-kurt commented on #260
Yes. Arabic is included in the [`AddUTF8Font()`](https://godoc.org/github.com/jung-kurt/gofpdf#example-Fpdf-AddUTF8Font) example. It generates [this PDF](https://github.com/jung-kurt/gofpdf/blob/65c03ae855f64ff46c37f9d58ed572a302bd355d/pdf/reference/Fpdf_AddUTF8Font.pdf).

[2019-05-27 15:21] hugoglt opened #261 "Background transparency"
Hello I read #130 and #141 issue but I think that they don't contain the answer I'm looking for.

If you look this both pdf file in pdf reader you'll see the background like white but is not the same, the first have white background and the second doens't have background.

[transparency-background.pdf](https://github.com/jung-kurt/gofpdf/files/3224333/transparency.Background.pdf)
[white-background

[2019-05-28 11:07] jung-kurt commented on #261
This is a good question. I wrote a small program to test whether this can be done but I ran into the following problem with gofpdi:

@phpdave11, do you know why this happens? Here is the PDF I read as a template:

[code]

The generated PDF is smaller than the size of the buffer (1500) that is read, so the following change was made to gofpdi:

[code]

[2019-05-28 14:59] phpdave11 commented on #261
@jung-kurt there were some bugs in the code that parses the page box and the page rotation, which I just fixed.  Thanks for catching that.

[2019-05-28 15:00] phpdave11 commented on #261
@jung-kurt also - thanks for finding the issue when the imported PDF is less than 1500 bytes.  That bug has been fixed as well.

[2019-05-28 15:12] phpdave11 commented on #261
@hugoglt is your goal to import white-background.pdf into a new gofpdf document, and remove the white background so that the output PDF is transparent?  If so, I don't think that is possible.  Your white-background.pdf document contains a white image that covers the entire PDF:

[code]

Gofpdi can import existing PDFs but it does not modify the page content stream, which the white background is pa

[2019-05-28 23:18] phpdave11 commented on #261
gofpdi v1.0.2 now supports importing linearized PDFs.  I tested it with [white-background.pdf](https://github.com/jung-kurt/gofpdf/files/3224334/white.Background.pdf) and it works fine now.

[2019-06-05 02:14] tylerzika commented on #258
@jung-kurt @phpdave11 I have the base64 of a pdf that I've retrieved via a json api using go. My function `getPdfBinary()` returns a `[]byte`. Would I use

	pdfBinary := getPdfBinary()

	pdf := gofpdf.RawWriteBuf(pdfBinary)

or

	pdfBinary := getPdfBinary()

	pdf := gofpdf.RawWriteStr(pdfBinary)

to display the pdf using the returned base64? Am I going in the right direction? Sorry it's been awhil

[2019-06-05 11:36] jung-kurt commented on #258
As far as I can tell (correct me if I am wrong, @phpdave11), you will need to write the downloaded PDF to a file first, and then convert it to a template with a call like
[code]
@phpdave11,  a new import function that uses an io.Reader would be a welcome enhancement to the gofpdi package.

[2019-06-05 12:02] phpdave11 commented on #258
@jung-kurt that is correct.  I will add support for importing PDF streams without having to save the PDF to a file first.

[2019-06-05 19:42] tylerzika commented on #258
Once creating and importing the template, how do I use gofpdf to display the pdf in the browser? In the past, once I've created a pdf using gofpdf, I'll do `pdf.Output(w)`, `w` being a `http.ResponseWriter`, and the pdf would display.

[2019-06-05 19:49] jung-kurt commented on #258
That should still work. Are you checking the return code from `pdf.Output()` to see if an error occurred during PDF generation?

[2019-06-05 20:24] tylerzika commented on #258
This is what I'm doing
[code]

[2019-06-05 20:53] jung-kurt commented on #258
It looks like setting the MIME type for a PDF is not strictly needed -- the http package will detect the output stream automatically. However, I like to set it explicitly to make it clear.

The call to `AddPage()` is required. I am not sure why your error log didn't record that.

I assume the `logFatal()` causes a panic. OK for development but definitely not something you would want in a productio

[2019-06-05 21:24] tylerzika commented on #258
Not sure if this gif helps. I copied your code and this happens:

![Jun-05-2019 14-22-24](https://user-images.githubusercontent.com/1011888/58991567-6e339400-879d-11e9-8f0b-2ddd6524ef6b.gif)

[2019-06-06 05:27] tylerzika commented on #258
@jung-kurt that doesn't work for me. Can you recommend any other way to debug this issue?

[2019-06-06 06:21] tylerzika commented on #258
@jung-kurt I don't know if it was a browser caching issue or what, but now I'm getting an error, right after creating the pdf file
[code]
the error is
[code]

[2019-06-06 06:36] cl-lennart opened #264 "PDF X3 Support?"
Is it possible to export a PDF X3 with an embedded color profile?

https://www.bvdm-online.de/fileadmin/tundf/PDFX-3_d_web.pdf

[2019-06-06 10:47] ayvan opened #265 "gofpdf.SetProtection() and gofpdi.ImportPage() + gofpdi.UseImportedTemplate() bug"
My imports (commit 8060f8371088d63b5935a6eeb617328705387ace):
"github.com/jung-kurt/gofpdf"
"github.com/jung-kurt/gofpdf/contrib/gofpdi"

When use gofpdf.SetProtection() I can't use gofpdi.ImportPage()  + gofpdi.UseImportedTemplate() - imported template pages not saved to result PDF.

[2019-06-06 11:56] jung-kurt commented on #258
I would factor the PDF generation and the PDF delivery routine. That is, write a route that generates the PDF and returns (pdf []byte, err error) and another routine that delivers the content with an http.ResponseWriter. This way, you can write a command line routine that tests the generation in isolation.

It may be that the PDF you are attempting to embed has some problems.

The most recently ca

[2019-06-06 12:06] jung-kurt commented on #264
GoFPDF does not currently support this but it would be a very welcome enhancement.

[2019-06-06 12:21] jung-kurt commented on #265
This is an interesting problem. Protection involves encrypting the data stream as it is written to the internal buffer. @phpdave11, do you have any insights into what it would take to apply the encryption to embedded PDF templates? This problem may involve templates in general, not just those that contain embedded PDF pages. If a solution is too complex to handle at this point, we may want to docu

[2019-06-06 15:01] phpdave11 commented on #258
It seems like a bug in the stream parsing code.

@tylerzika could you please attach rxImage.pdf so I can see what is going on with that particular PDF?  Then I may be able to fix this bug.

[2019-06-06 15:06] phpdave11 commented on #265
I don't have any experience with PDF encryption; however, I will do some research to see how difficult it would be to encrypt the objects when they are imported into gofpdf.

[2019-06-06 15:51] jung-kurt commented on #265
This is likely a problem with gofpdf. Don't spend too much time on this unless you have some immediate insights that have escaped me. I need to examine the error this produces to understand what is failing and where.

[2019-06-06 16:07] tylerzika commented on #258
@phpdave11
[dummy.pdf](https://github.com/jung-kurt/gofpdf/files/3262454/dummy.pdf)

[2019-06-06 16:23] tylerzika commented on #258
@phpdave11 @jung-kurt  I don't believe there is an issue with the pdf file. I've tried multiple pdfs. Each one I get via a json api. Each time I make the callout to get the pdf, the pdf successfully downloads to my go application folder, and I click on the pdf file in the folder and am able to view it with my OS. This makes me assume that if the pdf is viewable through my OS, there shouldn't be an

[2019-06-06 16:41] tylerzika commented on #258
@phpdave11 @jung-kurt even when I manually download the pdf from this url: https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf

save it to my computer, place the downloaded file in my go application folder, rename it to `rxImage.pdf`, and remove the code that gets the pdf binary, I still get the same error. This makes me think there is nothing wrong with how my REST api is send

[2019-06-06 16:48] phpdave11 commented on #258
@tylerzika it looks like there's nothing wrong with that PDF.  However, there is a bug on gofpdi which is preventing it from being imported.  I am working on fixing the bug now.

[2019-06-06 17:13] phpdave11 commented on #258
@tylerzika this has been fixed in [gofpdi v1.0.3](https://github.com/phpdave11/gofpdi/releases/tag/v1.0.3).

[2019-06-06 17:46] tylerzika commented on #258
@phpdave11 it is working for some of my pdfs, but not for others. Sometimes the webpage just show a blank pdf, other times it throws an error

[code]

here is the pdf that shows a blank pdf web page or throws the error above.
[rxImage.pdf](https://github.com/jung-kurt/gofpdf/files/3262835/rxImage.pdf)

[2019-06-06 17:58] tylerzika commented on #258
@phpdave11 another peculiar behavior. When I manually swap out pdf files locally while my application is on, the newly swapped out pdf does not display in the browser. The old pdf still shows.

[2019-06-10 07:30] nanjj commented on #120
[code]
You can download the `NotoSansSC-Regular.ttf` file from https://github.com/jsntn/webfonts/, put it under your current directory.

[2019-06-10 23:03] phpdave11 commented on #258
@tylerzika i found a bug in gofpdi in the string parsing code.  I made some progress on resolving the issue but the rxImage.pdf still doesn't import properly yet (the colors of the imported PDF do not match the source PDF).  I'll let you know once this issue has been fully resolved.

<img width="1032" alt="Screen Shot 2019-06-10 at 6 03 24 PM" src="https://user-images.githubusercontent.com/9421180

[2019-06-11 08:02] chy168 commented on #120
Just ran into this problem, thanks the hints from @nanjj.

I would like to provide another open source family "[Source Han Sans](https://github.com/adobe-fonts/source-han-sans)" font for **Japanese, Korean, Simplified Chinese, and Traditional Chinese**.

Note for **Traditional Chinese** and **Japanese** developers,  there is a TTF converted version base on *Source Han Sans*. Download `.ttf` from h

[2019-06-13 12:59] ajstarks commented on #255
Any update on this issue?

[2019-06-13 13:55] jung-kurt commented on #255
@DarkFreedman -- what would be involved in supporting more than 64K glyphs in a Unicode font?

[2019-06-14 15:09] phpdave11 commented on #258
@tylerzika i have fixed the bug that was causing the images in rxImage.pdf to not import properly.  This is fixed in gofpdi v1.0.4

![image](https://user-images.githubusercontent.com/9421180/59518970-7d48cf00-8e8c-11e9-8fcc-64b699745e01.png)

[2019-06-14 18:58] jung-kurt commented on #258
Nice work, @phpdave11!

[2019-06-15 03:31] tylerzika commented on #258
@phpdave11 I appreciate your efforts. Is the pdf import design to import any pdf? Some of my pdfs works, the more simple ones. Others that are multiple page with more graphics seem to have a harder time. I got this error on a multi-page with heavier graphic:

[2019-06-15 03:49] phpdave11 commented on #258
Yes, it should work with most PDFs, but there could still be bugs in the code that prevent some PDFs from being imported.

If you can upload some samples of PDFs that don’t import correctly I will try to debug the issue.

[2019-06-17 13:38] tharun-d opened #267 "go get -v' returned a non-zero code: 2"
../github.com/jung-kurt/gofpdf/utf8fontfile.go:854:19: undefined: math.Round
../github.com/jung-kurt/gofpdf/utf8fontfile.go:872:19: undefined: math.Round

I am getting error while running docker build where docker file has go get -v

[2019-06-18 18:56] jung-kurt commented on #267
Have you reached any resolution on this? I am perplexed as to why a standard library function would not be defined.

[2019-06-19 05:33] tharun-d commented on #267
oops sorry i defined as FROM golang:1.9.0 AS builder in my docker file this is issue. round is from 1.10 version

[2019-06-19 05:33] #267 closed

[2019-06-19 22:26] liqiongbusc opened #270 "gopdf cannot render emoji correctly"
**Description**
I cannot render moji like 👸🏻correctly in my pdf file.
Do i need to import new font for it?

Thanks

[2019-06-19 23:34] ajstarks commented on #270
This could be a duplicate of #255.  If the emoji in your font are in the range that gofpdf support it will work, but currently the Unicode emoji range will not work.

[2019-06-20 00:55] liqiongbusc commented on #270
Thanks for the answer, do we have the plan for support unicode emoji?

[2019-06-20 14:37] jung-kurt commented on #270
Even if we can solve #255 it is unlikely that gofpdf will ever render emoji in multiple colors.

[2019-06-24 04:39] zaddok commented on #126
Did someone already do this?

[2019-06-24 04:44] zaddok opened #272 "Implement RoundedRect"
A few people have noted needing `RoundedRect`, perhaps its time we include one?

https://github.com/jung-kurt/gofpdf/issues/126

[2019-06-24 11:46] jung-kurt commented on #272
This would be suitable for a first-time contributor. Here's a PHP script on which it could be based:

[Rounded rectangle](http://www.fpdf.org/en/script/script35.php)

[2019-06-24 11:58] jung-kurt commented on #126
Maybe a satisfactory way to allow inheritance (@MasterOTOKKY's original topic in this thread) would be to export all currently private fields but put them in their own structure named something like Prv. This way, applications could wrap the gofpdf instance in their own structure to extend it, but the manipulation of internal fields would require that additional name segment that would make it obv

[2019-06-27 13:48] mthizozo opened #273 "Index out of range"
Hi Jung Kurt

Please assist as i am recieving an index out range error on fpdf.go link 2578 where the font is set after deploying to openshift, yet the code is working locally.

Please advise what if the library would behave differently on different environments

[2019-06-27 14:18] jung-kurt commented on #273
Can you verify that the font used locally is exactly the same as the one used in openshift?

[2019-06-27 14:46] mthizozo commented on #273
yes I used. pdf.setFont("arial" , "B", 13). This is the same code thats deployed yet locally it gives no error

[2019-06-27 15:43] jung-kurt commented on #273
Can you verify that the JSON files in the font subdirectory are that same in both the remote and local locations? In your case, it looks like font/helveticab.json may be problematic.

[2019-06-28 03:59] denept opened #274 "请问，有没有导入pdf到模版的使用例子"
请问，有没有导入pdf到模版的使用例子

[2019-06-28 11:21] jung-kurt commented on #274
[code]

[2019-07-01 06:13] denept commented on #274
感谢，但是使用后发现原文档的字体大小改变了。

[2019-07-01 10:50] jung-kurt commented on #274
Any remarks, @phpdave11? Could this be simply a problem with the coordinates passed to `UseImportedTemplate()` or maybe a different font that is loaded for the original PDF?

[2019-07-01 15:36] phpdave11 commented on #274
The font size will be changed based on the width and height passed to `UseImportedTemplate()`.  Everything within the imported PDF will be scaled based on that as well.

If you want the font size to not change, then you need to pass in the original width and height of the imported PDF.

As a test I tried importing a PDF with the same size as the current PDF document, and I verified that the font s

[2019-07-01 17:41] mapreal19 commented on #273
@jung-kurt we've experienced the same problem when deploying to heroku. Everything works in local too. Maybe getting the wrong path for the fonts? In heroku source code goes to the `app` directory

[2019-07-01 19:39] jung-kurt commented on #273
Thanks, @mapreal19 -- your information will be helpful in correcting this problem.

[2019-07-02 05:53] sk0g commented on #129
Sorry to bump this issue, but I ran into this too! The above was a complete dealbreaker, so I actually solved it a rather different way - by creating a writeRow() function. Do you think, if I flesh it out and fix it a little, this might be merged into the library?

[code]

[2019-07-02 09:49] mapreal19 commented on #273
Found our problem. What happened is that we had an error when trying to render an image. That's why `f.err` wasn't nil here: https://github.com/jung-kurt/gofpdf/blob/master/fpdf.go#L1954-L1956 and made us think there was an issue in our fonts.

I think instead of returning we should `panic` here? `SetFont` should succeed otherwise we will have problems like this, assuming the font was set when act

[2019-07-02 11:34] jung-kurt commented on #129
Definitely! Thanks, @sk0g.

[2019-07-02 11:51] jung-kurt commented on #273
Thank you for tracking this down, @mapreal19.

One can argue with the way gofpdf handles errors, but given the large number of steps that go into creating a document, embedding the error (one of the patterns shown in [Errors are values](https://blog.golang.org/errors-are-values)) relieves the programmer of checking for an error condition at every turn. Rather than introduce panics into the codebas

[2019-07-02 12:06] jung-kurt commented on #273
@mapreal19, can you identify the minimal number of steps needed to reproduce the problem? Will an attempt to load a non-existent image followed by a call to `SetFont()` result in the crash? I will step through with [Delve](https://github.com/go-delve/delve) to see where the error handling is going astray.

[2019-07-02 12:28] mapreal19 commented on #273
Just calling this I think would do (let me know if you're able to reproduce):

[code]

I suspect the error is being set here: https://github.com/jung-kurt/gofpdf/blob/master/fpdf.go#L3090

And yeah thanks for the explanation, `panic` there wasn't a great idea given the way you handle errors. It was meant for a quick patch. Hope you guys can find were that overwrite is being done.

[2019-07-02 12:49] jung-kurt commented on #273
Thanks, @mapreal19 -- this is helpful.

[2019-07-02 14:31] jung-kurt commented on #273
I am not able to reproduce the problem with the following snippet. However, I am not able to test it on openshift or heroku where the problems have been reported.

[code]

Locally, this results in the expected error `open foo.jpg: no such file or directory`. I do recall some error handling changes were made to some font logic. Can anyone experiencing this problem verify that an up-to-date version

[2019-07-02 15:46] mapreal19 commented on #273
Hmm I think I missed this line after `pdf.SetFont`:

[code]

[2019-07-02 23:28] mmcmm opened #275 "Blank document when I add a page"
When I use AddPage I just get a white/blank file, and can't seem to figure it why, I even tried with the basic examples. Also auto page break point doesn't work. If I use AddPage after I have written to the document I get some infinite loop as it crashes.

Thanks

[2019-07-02 23:52] jung-kurt commented on #275
Can you include the smallest possible program that causes these problems?

Does the following program work for you?

[code]

[2019-07-03 09:58] mthizozo commented on #273
@jung-kurt the helveiticab.json files are the same locally and remotely.

[2019-07-03 10:40] mthizozo commented on #273
Hi @jung-kurt , the code is failing when pdf.multicell is called,

[2019-07-03 10:45] mthizozo commented on #273
@mapreal19 we are experiencing the exact same issue when using multicell, and its failing on fpdf.go at that same line 2578. what is most strange is that its working fine locally, what would be different after deploying the code?

[2019-07-03 10:51] mapreal19 commented on #273
@mthizozo maybe there is a hidden error like in my case? are you using images?

This commit may be helpful for you: https://github.com/mapreal19/gofpdf/commit/83db124beba3a79b5812070468cce87bfc81c05d

What I did is forking the project and added a bunch of logs until I discovered what was going on

[2019-07-03 10:58] achafer opened #276 "Spaces in Chinese"
Hi, I found that when there are spaces in Chinese paragraphs, The final output style is not what I want
[code]
Output:

![image](https://user-images.githubusercontent.com/21477943/60585941-84943600-9dc3-11e9-88f3-3b587b2c775e.png)

[2019-07-03 11:48] jung-kurt commented on #273
3aaf0b1a66c0ab02d925917376898a5856061d59 (and f58a9cb00082f4f0ee8b2e5c64a6455de46bd659 for version 2) fixes the particular problem with `MultiCell()` but I think there may be a larger problem here. I'd like to identify why cloud-based builds fail when local ones do not.

[2019-07-03 11:50] jung-kurt commented on #276
Thanks for the report, @achafer. Any insights, @DarkFreedman?

[2019-07-03 14:13] mapreal19 commented on #273
In my case it was because the image path was hardcoded in local, hence it didn't work in heroku so not a problem with `gofpdf`. Not sure about the Openshift case

[2019-07-03 15:44] mmcmm commented on #275
Thank you for the reply, turns out it was my issue, I was doing all the drawing in the header function and I guess when you call AddPage from the header function some kind of recursion forms.

[2019-07-03 15:44] #275 closed

[2019-07-03 16:24] jung-kurt commented on #275
Thanks for the followup!

[2019-07-04 07:42] denept commented on #274
thank you们

[2019-07-04 07:42] #274 closed

[2019-07-05 03:01] denept commented on #8
请问如何获取导入pdf文件的页面高、宽，和页数等其它信息？

[2019-07-05 03:03] denept commented on #265
请问，如何获取导入pdf文件的页面高度、宽度、页面数量等信息？

[2019-07-05 09:40] tobi007 opened #277 "Why are the characters lump together"
I'm trying to use the merchant copy font, but the letters are lumped together as shown.
<img width="283" alt="Screenshot 2019-07-05 at 10 33 16 AM" src="https://user-images.githubusercontent.com/20817997/60713232-93d4ca00-9f10-11e9-8461-84390a9440c6.png">

[2019-07-05 10:28] #277 closed

[2019-07-06 11:07] jung-kurt commented on #265
I don't see any way to do this in the underlying import package [gofpdi](https://godoc.org/github.com/phpdave11/gofpdi). @phpdave11, does your library ever have access to this information?

[2019-07-11 16:39] evalsocket commented on #115
We are also looking for same solution in our project. Any help wanted ? @itsbalamurali

[2019-07-11 16:42] evalsocket commented on #115
We are also looking for same solution in our project. Any Update ? Any help wanted ? @itsbalamurali @jung-kurt

[2019-07-11 18:32] jung-kurt commented on #115
There have been a couple steps toward a solution but no working pull request with tests has been submitted.

Definitely.

[2019-07-11 19:03] itsbalamurali commented on #115
@evalsocket we can port the functionality of https://git.janouch.name/p/pdf-simple-sign into gofpdf.

[2019-07-12 15:39] phpdave11 commented on #265
@denept 我添加了一个gofpdi接口，允许您获取PDF中所有页面的页码，宽度和高度。 这是在gofpdi v1.0.5中添加的。

@jung-kurt I have added an interface to gofpdi that allows you to get the page number, width, and height for all pages in a PDF.  This was added in [gofpdi v1.0.5](https://github.com/phpdave11/gofpdi/releases/tag/v1.0.5).

Example usage to get the width and height of all pages in a PDF:

[code]

Output:
[code]

[2019-07-17 07:37] tylerzika commented on #258
@phpdave11 hello again. Sorry I've been working on other things related to the pdf import. As I've done some final testing I've noticed I get an error from peculiar behavior.

Locally, when I go to a url to view imported pdf1 on my web page, it is viewable. Still locally, I then go to a different url to view pdf2, my app errors. I then restart my app and the url to view pdf2 is now viewable and no

[2019-07-17 08:42] nikhil133 opened #278 "Passing image from url to ImageOption fails"
I was trying to pass url of image to image option but it fails giving error
ERR_RESPONSE_HEADERS_MULTIPLE_CONTENT_LENGTH in web browser
Is their any way to do so, dont want to save the image in memory space

[2019-07-18 01:45] tylerzika commented on #258
@phpdave11

This error is happening too:

So this line https://github.com/phpdave11/gofpdi/blob/master/reader.go#L1024

[2019-07-18 10:11] chrisneal commented on #278
@nikhil133 I think this is an issue with the server that is hosting the image. Check the headers on the response.

[2019-07-18 11:17] nikhil133 commented on #278
You can close the issue

On Thu, 18 Jul, 2019, 3:41 PM chrisneal, <notifications@github.com> wrote:

[2019-07-20 05:26] tylerzika commented on #258
@phpdave11 @jung-kurt could either of you share a reference on how to learn with dealing with raw pdf data? I'd really like to contribute and solve this bug. A piece of my project that I'm launching in a few weeks is reliant on this pdf import.

[2019-07-22 13:06] phpdave11 commented on #258
@tylerzika are you writing to rxImage.pdf multiple times?  That might be an issue because gofpdi will read the file once and cache some of the results.  If rxImage.pdf changes after it has been read, the import will probably fail.  As a workaround you could try writing the PDF to rxImage-<sha256-of-data>.pdf and see if that resolves the issue.

[2019-07-22 13:12] phpdave11 commented on #258
@tylerzika pull requests are welcome!

I would start by going through the [PDF Reference Version 1.4](https://www.adobe.com/content/dam/acom/en/devnet/pdf/pdfs/pdf_reference_archives/PDFReference.pdf).

You can also go through the gofpdi codebase and study how it parses PDF data.  Most of the work is done in [reader.go](https://github.com/phpdave11/gofpdi/blob/master/reader.go) and [writer.go](htt

[2019-07-22 21:38] tylerzika commented on #258
@phpdave11 I ended up creating the pdf using `ioutil.TempFile` and added the a sha to the file name and it works. Thanks for the suggestion!

[2019-07-27 09:10] tylerzika commented on #258
@phpdave11 if a pdf that I'm importing has multiple pages, will the importer import each page? I don't believe it currently does it. Is there a way to do so?

[2019-07-27 10:41] phpdave11 commented on #258
@tylerzika yes, you can specify the page you want to import. You have to import each page separately.

Here page number 1 is being imported:
[code]

You can also get the number of pages and page size information using gofpdi:  https://github.com/jung-kurt/gofpdf/issues/265#issuecomment-510933446

[2019-07-28 11:41] tindli opened #282 "Render problems with the pdf.Arc() function"
I need to create some very fine details (in the mm range) on certain parts of my PDF based on the pdf.Arc() function.

I found that if I create circle segments with the Arc() function using two different rx, ry settings, the endings of the segments do not align.

To illustrate the effect, I created the demo program (please see below), zoomed in with my PDF-viewer, and exported the image as a png.

[2019-07-28 12:33] jung-kurt commented on #282
These results surprise me too. I'll look into this.

[2019-07-28 13:52] jung-kurt commented on #282
I think the angle values used in the `Arc()` method are particularly sensitive to rounding errors. The misalignment artifacts are apparent even when the radius and line width values are increased by a factor of 100. Floating point values in a PDF are stored as text with a fixed precision. In gofpdf's case, the precision is five digits. It may be worth bumping this up further.

As an expedient in y

[2019-07-28 16:35] tindli commented on #282
Thanks for looking into this.

The example is primary made to illustrate the alignment problem. In my actual use case, I am using the first parameter of `drawArcs()` as a bitmask that can be different for the inner and outer circles - thus drawing only one circle would hide the problem but is not applicable in this case... Under normal conditions, the bit masks are not identical, but some segments

[2019-07-30 19:18] jung-kurt commented on #282
I bumped the precision of all floats stored by gofpdf from 5 to 9 and there was no discernible difference with the arc misalignment that you demonstrate. Since everything is smooth when one line width is used, I am inclined to think that the misalignment derives from a slight influence of line width in the way arc endpoints are calculated. I'll think about how this could be verified and, if it can

[2019-08-01 09:38] Meowgician opened #283 "Multicell not justifying text"
I need to generate a pdf document, and I have been using MultiCell to do so. However, I need the text to be justified, and MultiCell doesn't do so even when I specify that it should be justified.
Here's some code that can reproduce the issue:
`package main

import (
	"github.com/jung-kurt/gofpdf"
)

const margin = 40
const lorem = "Lorem ipsum dolor sit amet consectetur adipiscing elit tellus rutr

[2019-08-01 18:10] jung-kurt commented on #283
It looks like before UTF-8 fonts were supported, gofpdf did not support text justification (`alignStr = "J"`) in `CellFormat()` or `MultiCell()`. Until we can fix up [this block](https://github.com/jung-kurt/gofpdf/blob/4e47058871098a8e32dff39b461760b280bccff0/fpdf.go#L2314-L2336) in `CellFormat()` it looks like the only way to justify text in `MultiCell()` is to use UTF-8 fonts. Here is your exam

[2019-08-06 08:22] bohdanlisovskyi commented on #255
When do you implement this issue?

[2019-08-06 12:28] jung-kurt commented on #255
There is a lot of utf-8 code that depends on two-byte runes. Fixing this will be a substantial undertaking. Any help in this regard will be appreciated.

[2019-08-07 07:09] bennsid opened #284 "Text format Bold and Underline within Single MultiCell Cell"
Hi Jung-Kurt
While using MultiCell. In a single cell, how do i get to Bold some text while other text is left not bold. Furthermore, how do i go about underlining some text while other text isn't underlined.

Your assistance would be highly appreciated

[2019-08-07 17:17] jung-kurt commented on #284
Unfortunately, gofpdf supports only one font attribute in `MultiCell()`. You could try modifying the code in [htmlbasic.go](https://github.com/jung-kurt/gofpdf/blob/4e47058871098a8e32dff39b461760b280bccff0/htmlbasic.go) to achieve your objective. Call [`GetStringWidth()`](https://godoc.org/github.com/jung-kurt/gofpdf#Fpdf.GetStringWidth) to calculate word spacing for text justification.

[2019-08-12 02:48] BeeHam commented on #272
I would like to tackle this, please.
/assign

[2019-08-12 12:26] joewestcott opened #287 "New method: pdf.SetUnderlineThickness"
Hiya @jung-kurt

Do you think this method would be a useful addition to this library? It would allow the programmer to adjust the text underline thickness whilst still having it scale with the font size.
I'd be happy to create a PR with the following changes:

1. Store a new attribute on the principal struct, `userUnderlineThickness`, defaulting to `1.0`

2. Create a new method named `pdf.SetUnder

[2019-08-12 15:07] jung-kurt commented on #272
Thanks, @BeeHam

[2019-08-12 15:07] #272 closed

[2019-08-12 15:09] jung-kurt commented on #273
Let's reopen this if it is still a problem with some environments.

[2019-08-12 15:09] #273 closed

[2019-08-12 15:13] jung-kurt commented on #287
Go for it, @joewestcott !

[2019-08-12 15:14] jung-kurt commented on #253
Please reopen if this is still an issue

[2019-08-12 15:14] #253 closed

[2019-08-12 15:15] jung-kurt commented on #260
Please reopen if this is still an issue

[2019-08-12 15:15] #260 closed

[2019-08-12 15:16] jung-kurt commented on #261
Please reopen if this is still an issue

[2019-08-12 15:16] #261 closed

[2019-08-16 00:53] gbenroscience commented on #8
Could I have a comprehensive example on importing an existing pdf and placing an image at some location on it and saving it to an output file? I cant seem to get this to work

[2019-08-16 01:07] gbenroscience commented on #8
I keep getting:

panic: Failed to get page resources: Page 5 does not exist!!

while importing a pdf file that has 237 pages

[2019-08-16 07:43] mrtsbt commented on #8
https://github.com/phpdave11/gofpdi provides examples for importing and using templates in gofpdf. Additionaly, you might want to take a look at the examples in `fpdf_test.go` and `contrib/gofpdi/gofpdi_test.go`

[2019-08-16 09:03] phpdave11 commented on #8
@gbenroscience this likely indicates a bug in the gofpdi parser.

 If you send me the PDF that you’re trying to import, I can try and fix the issue.

[2019-08-21 11:52] jung-kurt commented on #276
@achafer, can you confirm that this works as expected now?

[2019-08-21 21:42] tylerzika commented on #258
@jung-kurt and @phpdave11, thanks for your help! I was able to implement my desired feature based on what has been shared in this issue.

[2019-08-21 21:42] #258 closed

[2019-08-23 10:14] hyzgh opened #294 "empty symbol"
I use MultiCell to generate a pdf, it works well when there is not missing symbols. But when there are some missing symbols, it will generate a text with some empty, please see the picture in the following.
[code]
txt:
![image](https://user-images.githubusercontent.com/31174102/63584905-806ce380-c5d0-11e9-9f72-def63dd105c0.png)

pdf:
![image](https://user-images.githubusercontent.com/31174102/6358

[2019-08-23 11:47] jung-kurt commented on #294
Thanks for report, @hyzgh. Can you provide the text file referenced by `filename` as a file rather than a PNG image? This will assist in solving this.

[2019-08-23 11:50] hyzgh commented on #294
Here it is. [10.txt](https://github.com/jung-kurt/gofpdf/files/3534278/10.txt)

[2019-08-28 12:16] #287 closed

[2019-08-29 17:13] tindli commented on #282
Hi, is there a way to support you with this issue...? - I do not know the inner workings of the library but if there is something I can help you with - I do what I can...

[2019-08-29 18:44] jung-kurt commented on #282
Thanks for the offer, @tindli. I haven't been able to figure out the source of this problem. One thing I have not investigated is whether the aberrations in the generated output are due to way a PDF renderer calculates arc angles with lines of varying thickness. Depending on the rendering engine's algorithm, the end point of an arc might only be approximately radial. (That is, the outside of the l

[2019-08-29 18:50] jung-kurt commented on #282
@tindli, once you write a simplified demonstration of the problem, you could see if documents made with [jsPDF](https://parall.ax/products/jspdf) (which supports arcs) have or do not have the alignment problem that you found.

[2019-08-31 06:18] tcd commented on #157
@mandolyte

[code]

[2019-08-31 12:00] mandolyte commented on #157
Thanks!

[2019-08-31 12:00] #157 closed

[2019-09-04 09:21] beta opened #297 "Support for font kerning"
It seems gofpdf does not support font kerning at the moment. For example, when outputting "Tourist" with Arial font:

Result of gofpdf:
![image](https://user-images.githubusercontent.com/5000910/64242499-396be000-cf38-11e9-89fe-65ce3580d2ee.png)

Expected:
![image](https://user-images.githubusercontent.com/5000910/64242567-599b9f00-cf38-11e9-9dc0-921b28dee048.png)

Note the difference of the spaci

[2019-09-04 15:57] jung-kurt commented on #297
Unfortunately, gofpdf (like FPDF from which it is derived) does not currently support font kerning. This feature would be valuable so I will tag this as an enhancement. I imagine a solution would involve a font-specific table that associates letter pairs with spacing amount. Thanks for your post.

[2019-09-05 12:12] beta commented on #297
I had some experiments and below is what I've got with gofpdf and my simple implementation of font kerning.

![image](https://user-images.githubusercontent.com/5000910/64340317-6db6cd80-d018-11e9-8dbf-cde7f25aaf47.png)

It's not completely implemented (only applied when using `AddUTF8Font()` and `Text()`), but it can meet my need now. I will continue to work on this when I get time.

[2019-09-05 12:54] jung-kurt commented on #297
Nice work, @beta! If your solution if generally applicable, please consider sharing.

[2019-09-07 20:14] tindli commented on #282
@jung-kurt Sorry for the late response. Was quite busy...

Now some of my results:

1. I tried to reduce the script to a few simple statements without utilizing a for(). So I started to draw arcs with a simple start an end angle value. I tried several different angles but the arcs always lined up perfectly - thus I was not able to reproduce the issue with a simpler script.

2. I tried more or less

[2019-09-07 21:16] koinu opened #300 "Can't "go get": `malformed module path "gofpdf"`"
➜  projects mkdir foo
	➜  projects cd foo
	➜  foo go mod init foo
	go: creating new go.mod: module foo
	➜  foo go get github.com/jung-kurt/gofpdf

	go get: github.com/jung-kurt/gofpdf@v1.12.0 requires
		gofpdf@v0.0.0-00010101000000-000000000000: malformed module path "gofpdf": missing dot in first path element
	➜  foo go version
	go version go1.13 darwin/amd64

[2019-09-08 10:07] cwimberger commented on #300
Same issue here, @koinu do you have a workaround?

[2019-09-08 10:59] jung-kurt commented on #300
Try
[code]
I'm still trying to track down the root issue of this problem. I think it has to do with a circular dependency in contrib/gofpdi.

[2019-09-08 11:49] jung-kurt commented on #282
Thanks for the report, @tindli. These are really interesting findings.

[2019-09-10 09:20] dajiugo opened #301 "the memory footprints so high"
`Hello, our service uses your gopdf framework and has a high memory footprint. feedback`

![20190910171106](https://user-images.githubusercontent.com/52339367/64600879-7af40380-d3ee-11e9-838a-45460c7beda0.png)

![20190910171519](https://user-images.githubusercontent.com/52339367/64601028-bdb5db80-d3ee-11e9-9205-287d38e0aa66.png)

[2019-09-10 11:03] jung-kurt commented on #301
This may be related to #110. Do you include high-resolution images in your documents?

[2019-09-11 01:02] dajiugo commented on #301
thanks reply.
document is in plain text.

[2019-09-11 01:29] dajiugo commented on #301
memory not released
![image](https://user-images.githubusercontent.com/52339367/64661263-90147500-d476-11e9-92cf-f6ffcb4dc3e9.png)

[2019-09-11 03:59] jung-kurt commented on #301
Is your application a long-running service? If so, does the memory usage continue to get larger or does it plateau at some level?

[2019-09-11 07:03] dajiugo commented on #301
yes,our server is a long-running and memory usage will continue to grow

[2019-09-12 05:13] cwimberger commented on #300
It works now, thanks!

[2019-09-13 01:27] sify21 opened #302 "how to align the lower boundry of two adjacent multicells"
I want two multicells placed next to each other, and I know which one contains more content. I can align the upper boundry with setXY, but **how do I align the lower boundry**?

[2019-09-13 12:19] jung-kurt commented on #302
Good question, @sify21. The bottom of a [MultiCell()](https://godoc.org/github.com/jung-kurt/gofpdf#Fpdf.MultiCell) is determined by the number of lines in the content, so you may have to resort to a kluge in which you add a number of blank lines to pad the smaller one. This is admittedly error-prone because you may not know how many wrapped lines the content will have. This is a definite shortcom

[2019-09-13 12:26] sify21 commented on #302
Thanks for the reply. Finally I managed to do this using `SplitText`(for caculating max row num) and `CellFormat` to achieve the effects of using `MultiCell`.

[2019-09-13 12:28] jung-kurt commented on #302
Good solution.

[2019-09-13 17:26] #302 closed

[2019-09-16 02:03] dajiugo commented on #301
![](https://raw.githubusercontent.com/dajiugo/photo/static/mirror/profile001.png)

[2019-09-16 02:38] dajiugo commented on #301
[code]

[2019-09-16 03:33] dajiugo commented on #301
hello author ,
could you add  close methods of「AddUTF8Font」?
although golang gc  automatically reclaims memory, but time is slow.

[2019-09-16 11:08] jung-kurt commented on #301
Thank you, @dajiugo, for tracking this problem down.

Yes, I will do this shortly.

[2019-09-17 15:50] tylerzika commented on #258
@phpdave11

I'm getting this error for one our pdfs:

[2019-09-17 16:12] phpdave11 commented on #258
Possibly related: https://github.com/phpdave11/gofpdi/issues/16

[2019-09-17 19:13] phpdave11 commented on #297
I have added this feature to another PDF generator library in the past, so I may be able to provide some insight.  Basically, you just need to parse the kern move amount for each letter pair from the font file.  Then, when writing text, if there is a kern move amount defined for a 2 letters, you embed that amount in between parentheses.

For example, within a `TJ` operation (show one or more text

[2019-09-19 07:47] sify21 opened #303 "How to generate pdf with version 1.4"
Currently the generated pdf has version 1.7, and it has problem displaying on mac (the text with embedded utf-8 font is not shown). I tried to use online tools to convert the pdf to version 1.4, the text also disappears. Can I generate the pdf in version 1.4?

[2019-09-19 08:26] sify21 commented on #303
My mistake. It's version 1.3. The Producer is FPDF 1.7

[2019-09-19 08:26] #303 closed

[2019-09-19 13:40] Antonboom commented on #301
+1

I open a similar issue to gopdf: https://github.com/signintech/gopdf/issues/116
But later realized that the problem is not in leaks, but in the work of the application process.

[2019-09-20 11:15] sify21 opened #304 "Generated pdf can't be validated by verapdf when using AddUTF8FontFromBytes"
[verapdf](https://verapdf.org) is a pdf/a validation tool. When using default font Arial, verapdf can validate the pdf with some warnings.
![Untitled](https://user-images.githubusercontent.com/11829223/65323030-e900ad80-dbda-11e9-8db9-be447c3447d7.png)

But when using font [NotoSansSC](https://github.com/jsntn/webfonts/blob/master/NotoSansSC-Regular.ttf), which is added by `AddUTF8FontFromBytes`,

[2019-09-20 11:32] jung-kurt commented on #304
Thanks for the report, @sify21. I am glad to know about the verapdf tool for validating PDF/A compliance. This is an enhancement that was brought up in #144.

The problem related to `AddUTF8FontFromBytes` appears to be two-fold. Clearly something is going wrong with the UTF-8 implementation in gopdf. Additionally, the problem causes verapdf to crash so this should be brought to the attention of th

[2019-09-21 00:33] sredxny opened #305 "Setting border color for cells"
Hi, is possible to set a color to the border of the cells without filling the cell by itself?

[2019-09-21 13:06] jung-kurt commented on #305
Use [`SetDrawColor()`](https://godoc.org/github.com/jung-kurt/gofpdf#Fpdf.SetDrawColor) to set the border color and false for the fill flag in [`CellFormat()`](https://godoc.org/github.com/jung-kurt/gofpdf#Fpdf.CellFormat).

[code]

[2019-09-22 02:12] sredxny commented on #305
@jung-kurt  thank you so much. It works!

[2019-09-22 02:12] #305 closed

[2019-09-23 03:43] THausherr commented on #304
The error is this: "/BaseFont /utf8noto sans sc" and "/BaseFont /utf8noto sans scB". The spaces are wrong.

[2019-09-23 06:54] sify21 commented on #304
After removing white spaces from the `familyStr` variable of `AddUTF8FontFromBytes`, the generated pdf can be parsed.

[2019-09-23 07:19] sify21 commented on #304
Ok, I verified that if the familyStr contains white space, the generated pdf can't be viewed properly on Mac. So maybe there should be a note in the function comment or add some code in function body to remove whitespaces. @jung-kurt

[2019-09-23 07:59] sify21 commented on #304
Citing from 5.3 part of [this article](https://resources.infosecinstitute.com/pdf-file-format-basic-structure/):

[2019-09-23 17:26] sredxny opened #306 "How can I use arial serif?"
I understand that the package by default uses arial sans serif, even if I load an external TTF how can I start to use arial serif?

[2019-09-23 17:32] jung-kurt commented on #306
Use [`SetFont()`](https://godoc.org/github.com/jung-kurt/gofpdf#Fpdf.SetFont). For example,
[code]
for 16 pt Arial bold (this is sans serif), or
[code]
for 14 pt Times New Roman (standard serif font).

[2019-09-23 17:45] sredxny commented on #306
@jung-kurt hello, thanks for answer. My mistake, I mean, how to use arial serif, not arial san serif?
As am needing to use serif, but I see that its only available for Times

[2019-09-23 18:29] jung-kurt commented on #306
I am not aware of any arial serif font and it definitely is not part of the default base fonts included with PDF readers. If you can find such a font, you will need to add it with [`AddUTF8Font()`](https://godoc.org/github.com/jung-kurt/gofpdf#Fpdf.AddUTF8Font).

[2019-09-24 17:46] jung-kurt commented on #304
@sify21, @THausherr: could you test my fix for this? In branch issue_304, I escape spaces in the font family string by replacing them with "#20".

Create a directory named "issue_304" and place the following files in it:

**main.go**
[code]
**go.mod**
[code]
**go.sum**
[code]
Then issue `go build -v` and `./issue_304`.

[2019-09-25 06:28] Guoozz opened #307 "the Chinese characters of bookmark outlines are garbled"
I want to generate PDF that contains bookmark outlines, but the Chinese characters are corrupted.

##  Test Code

[code]

## Generated PDF
![image](https://user-images.githubusercontent.com/8208557/65574672-a820e400-dfa0-11e9-9b25-9e750f1d7198.png)

[2019-09-25 06:38] sify21 commented on #304
@jung-kurt  The result is ok to me.
![Untitled](https://user-images.githubusercontent.com/11829223/65575269-026e7480-dfa2-11e9-80d5-696475a741f0.png)

[2019-09-25 06:42] THausherr commented on #304
@jung-kurt I can't test your fix because I don't use GO, sorry. If you attach it here, I can have a look at the result PDF with PDFDebugger to see if PDFBox has any complaints. (I did so with the first file, and I was told the exact "bad" offsets in log messages)

[2019-09-25 06:49] sify21 commented on #304
@THausherr  This is the pdf file I generated locally.
[issue_304.pdf](https://github.com/jung-kurt/gofpdf/files/3650911/issue_304.pdf)

[2019-09-25 08:12] THausherr commented on #304
works fine 👍

[2019-09-25 11:08] jung-kurt commented on #304
Thanks, @sify21 and @THausherr -- I will merge changes.

[2019-09-25 12:05] Antonboom commented on #301
Any news? 😢

[2019-09-25 12:23] jung-kurt commented on #304
Merged into master (cae7d4739e815a170819d84c5361b05306b2f019) and v2 (f7e9373a76e736ecc3aff31810376ec0486af131). Thanks for your help.

[2019-09-25 12:27] jung-kurt commented on #307
Thanks for the report, @Guoozz. If I remember correctly, those bookmark names are UTF-16 encoded. I don't think the recent UTF-8 work included any conversion routines to UTF-16. I will look into this and hope others do too.

[2019-09-25 12:29] jung-kurt commented on #301
Not yet -- hopefully soon.

[2019-09-25 16:46] THausherr commented on #144
It is not THAT difficult for simple documents: always embed fonts (don't use the standard 14), have an XMP metadata stream, and an outputintent. Here's a very simple PDF/a-1b file.
[PDFA.pdf](https://github.com/jung-kurt/gofpdf/files/3653725/PDFA.pdf)

[2019-09-26 00:28] devplayg commented on #307
The same problem occurs when entering Korean bookmarks.

[code]

[2019-09-26 19:04] SuddenGunter commented on #307
@jung-kurt can I take it, is this a good first issue?
I've not so much experience in Go

[2019-09-27 00:22] jung-kurt commented on #307
Absolutely! Thanks or your interest, @SuddenGunter!

Possibly -- I haven't looked into to know how difficult it might be. You will want to study `utf8toutf16()` and `.isCurrentUTF8`. My assumption here is that the bookmark problem occurs only with UTF-8 fonts.

If this problem turns out to be too frustrating but you are still interested in tackling something else, let me know and I'll scan the lis

[2019-09-27 15:05] steamonimo opened #308 "gofpdf.New does not support custom sizes anymore"
We use gofpdf to create business cards. With the new current version the following command is now broken and reports "unknown page size 59x89". With the previous release this created a smaller pdf page as expected:

hpdf := gofpdf.New("L", "mm", "59x89", "")

[2019-09-27 15:21] jung-kurt commented on #308
I am surprised that the "59x89" notation worked in a previous version; the [page size routine](https://github.com/jung-kurt/gofpdf/blame/648efaf66fc0b2c166ecb8b51fe68bcb0395c840/fpdf.go#L3425-L3442) hasn't changed in six years. In any event, you can create custom sizes using `gofpdf.NewCustom()`; see the [PageSize example](https://godoc.org/github.com/jung-kurt/gofpdf#example-Fpdf-PageSize).

[2019-09-27 15:41] steamonimo commented on #308
Somehow your old API handled my abuse. But with NewCustom the behaviour is now as expected. Thanks for pointing me to NewCustom. I will close the issue...

[2019-09-27 15:41] #308 closed

[2019-09-28 21:25] SuddenGunter commented on #307
I was able to reproduce it locally. It took some time to install Chinese fonts and get it to work.
Will debug it and try to fix, possibly this weekend

[2019-09-28 23:49] jung-kurt commented on #307
@SuddenGunter: Thanks for your work on this and for your updates!

[2019-09-29 00:22] SuddenGunter commented on #307
@Guoozz @devplayg plz check latest version: was issue resolved for you?

[2019-09-29 00:43] Guoozz commented on #307
@SuddenGunter the problem has resolved, thanks very much.

[2019-09-29 21:23] SuddenGunter commented on #307
@jung-kurt can we close this issue now?

[2019-09-29 22:59] jung-kurt commented on #307
Yes, you may have the honors. Thanks again, @SuddenGunter.

[2019-09-30 01:03] nicholaspuglia opened #311 "Cannot parse SVG with <g> tags"
When parsing an svg before writing it to a pdf using SVGBasicParse(), if the svg contains <g> tags then it does not appear on the pdf. My current workaround is to remove the <g> tags from the svg manually however, it would be convenient to remove this extra step.

[2019-09-30 12:21] jung-kurt commented on #311
@nicholaspuglia -- can you provide a small example of an SVG file before and after the tags are removed?

[2019-09-30 18:19] kumarbros101 opened #313 "test"

[2019-09-30 21:59] kolkov opened #315 "Sent to frontend issue"
If I save pdf file localy I se Hellow world! But if I send it to frontend I see only a blank page. :(
[code]

[code]
local
[code]
remote
[code]

[2019-09-30 22:54] nicholaspuglia commented on #311
**Before the <g> tag is removed:**

`<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="209" height="8">
    <g stroke-linejoin="round" stroke-linecap="round" fill="none" stroke="black">
        <path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M 1 1 c 0.23 0.04 8.63 1.76 13 2 c 7.

[2019-10-01 00:04] jung-kurt commented on #315
Assuming `c.Response` is an http.ResponseWriter, then something like this (untested) should work:
[code]
If you want to buffer the PDF document to check for errors, then you can call `b.WriteTo(c.Response)` and skip the generation of a byte slice. If you *do* use a byte slice, then I think you want `c.Response.Write(bytesPdf)` rather than `c.Write(bytesPdf)`.

[2019-10-01 05:43] kolkov commented on #315
ozzo handlers should return an error https://github.com/go-ozzo/ozzo-routing#handlers

[2019-10-01 05:53] kolkov commented on #315
[code]
yes this worked, but I still get empty page without any text, but now file content instead base64 string.

[2019-10-01 05:55] kolkov commented on #315
And how to use utf-8 cyrillic text?

[2019-10-01 12:36] vdobler opened #316 "AddUTF8FromBytes modifies its argument utf8bytes resulting in a panic if you generate two PDFs wih the "same" font bytes."
I've encountered a strange problem: I can generate a PDF with embedded UTF-8 font without any problems, but just **once**. Generating the same PDF once more results in a panic because the input utf8bytes to AddUTF8FontFromBytes is modified.

[code]

Here is (stripped) the code to reproduce above error:

[code]

The problem does **not** happen if the font is loaded from disk, e.g. with `pdf.AddUTF8

[2019-10-01 12:45] jung-kurt commented on #316
Thanks for the well-written, concise report and demonstration code, @vdobler. There is no reason why a cached copy of the font should be modified. I will look into this and hope others can provide some insights too.

[2019-10-01 12:49] #313 closed

[2019-10-03 18:32] ariefdfaltah opened #317 "Gofpdi with gofpdf import multi orientation page"
Based on this page https://github.com/jung-kurt/gofpdf/blob/master/contrib/gofpdi/gofpdi_test.go currently I have document with multiple orientation page. Legal page with portrait orientation and legal page with landscape orientation. After  run code, unfortunately all of pages become legal portrait orientation. Some of content inside pages become stretch too.
Thanks!

[2019-10-04 12:07] ArtemKor commented on #316
I fixed it and create pull reguest.

[2019-10-04 12:49] ArtemKor commented on #294
Are you sure the font stsong.ttf contains malagasy glyphs?

[2019-10-04 13:26] ArtemKor commented on #276
This space is part of glyphs. I used another font and got normal result
![anotherfont](https://user-images.githubusercontent.com/48787265/66210932-a1dae800-e6c3-11e9-951b-894a17b39ae8.png)

[2019-10-04 13:45] hyzgh commented on #294
@ArtemKor malagasy glyphs?

[2019-10-05 09:41] SilkageNet opened #319 "unrecognized import path "golang.org/x/image""
unrecognized import path "golang.org/x/image"

[2019-10-05 14:56] jung-kurt commented on #319
The following works for me.
[code]
What result do you get?

[2019-10-05 14:57] jung-kurt commented on #317
Any remarks, @phpdave11?

[2019-10-05 16:30] joeblew99 opened #320 "Print a PDF to a physical printer"
Wondering if there is any information about how to managing printing on desktops in golang.

This is the sequence I am trying to achieve

After the user has selected a pdf template and my code has merged data into the pdf I want to let the user print it.

Opens the print dialogue for the OS.
User selects printer, orientation, paper side.
The orientation and paper size is used to defender the pdf c

[2019-10-05 16:31] joeblew99 commented on #320
I think maybe the ghostscript features are needed ?

[2019-10-05 16:40] phpdave11 commented on #317
@ariefdfaltah within the PDF specification, there is no concept of "portrait" or "landscape".  Instead, you define one or more page boxes (MediaBox, TrimBox, etc.) with your desired page size.

If you want to embed multiple pages of a PDF that have different sizes, then you should call the GetPageSizes() function to determine the width and height of each page in the PDF document.  You can use the

[2019-10-05 17:38] jung-kurt commented on #320
You're right -- physical printing is not a part of PDF production. If you want a solution for the Windows platform, the [github.com/alexbrainman/printer](https://github.com/alexbrainman/printer) project may be what you need. On Linux and Mac, I would look into Samba.

[2019-10-06 03:14] ariefdfaltah commented on #317
@phpdave11 the following document I use in my case example. In the OUTPUT.pdf document of each landscape page, the template is dragged and the position does not match the SOURCE.pdf document. I attach the code that I used

[SOURCE.pdf](https://github.com/jung-kurt/gofpdf/files/3693914/SOURCE.pdf)

[code]
[OUTPUT.pdf](https://github.com/jung-kurt/gofpdf/files/3693913/OUTPUT.pdf)

[2019-10-07 01:01] jung-kurt commented on #315
**go.mod**
[code]
**go.sum**
[code]
**issue_315.go**
[code]

[2019-10-07 01:23] devplayg commented on #273
On windows 10 pro, it works fine; howerver on linux, it does not.

**Error**

[code]

**Code: "DrawColumnTable" function**

[code]

**Input data of [][]string**

[code]

**PDF**
[code]

[2019-10-07 04:37] #319 closed

[2019-10-07 11:22] jung-kurt commented on #316
@vdobler -- can you confirm that the problem has been corrected?

[2019-10-07 12:34] vdobler commented on #316
I do not thing that the PR #318 is a proper fix for the underlying problem. Making a copy before modifying the byte slice hides the actual problem: somehow reading the font is not a read-only action.

This type of stopgap solution can be used without this "fix" (actually that's what I'm doing now: make a copy). But I think the actual modification should be fixed instead of hidden behind a copy.

[2019-10-07 12:40] jung-kurt commented on #316
@vdobler -- all points well-taken.

[2019-10-07 15:06] Antonboom commented on #301
#321

[2019-10-08 00:31] Mitu217 opened #322 "why remove ImageOptionsReader() ?"
`ImageOptionsReader` is deleted by https://github.com/jung-kurt/gofpdf/commit/d17d13df9df41d4505501e831ff0ada5b2222ff8 immediately after being merged in https://github.com/jung-kurt/gofpdf/pull/281

I think that we want the ability to insert images retrieved as binary.

Please tell me why it was deleted?

[2019-10-08 00:50] jung-kurt commented on #322
This can be done; see [this example](https://github.com/jung-kurt/gofpdf/blob/9b6b7f4e784dd67fac27ae8fd4aea38136afa1c5/fpdf_test.go#L861-L889).

Image attributes were cached improperly.

[2019-10-08 00:56] Mitu217 commented on #322
@jung-kurt
thank you immediately answer!

Sorry, I overlooked the sample. this issue will be closed 🙏

[2019-10-08 00:56] #322 closed

[2019-10-08 05:06] #304 closed

[2019-10-09 07:25] Kent-H commented on #273
Just hit this in my environment:

[code]

[2019-10-09 09:25] SuddenGunter commented on #307
but I don't have required rights in repo :)
do it

[2019-10-09 10:57] #307 closed

[2019-10-09 11:07] jung-kurt commented on #273
@Kent-H -- This seems to be related to #315. A hacky workaround has been merged that makes a copy of in-memory fonts. I don't see any version information in the panic report but if your version predates eeeab0b32e45c4544d2fe95ad76c07a1bf695aa2 from four days ago you may want to update the gofpdf package(`go get -u github.com/jung-kurt/gofpdf`). Can you do this and report back?

[2019-10-09 19:27] Kent-H commented on #273
Updating appears to have fixed my issue, thank you!

[2019-10-09 19:44] jung-kurt commented on #273
Thanks for the report, @Kent-H.

[2019-10-10 04:17] winwisely99 commented on #320
The Alexbrainman only prints text, not PDF. I looked at his lib and spoke to him about about it already.

On Linux and Mac, I would look into Samba.

Cant use this becaue i cant assume they have samba. It imposses too much on the users to have to install Samba.

---

If anyone else has idea would be fab.

I am building a PDF VIewing and Print Preview engine in FLutter so it works on all Desktops a

[2019-10-10 04:44] joeblew99 commented on #320
The Alexbrainman only prints text, not PDF. I looked at his lib and spoke to him about about it already.  Seems like a dead end.

Cant use this becaue i cant assume they have samba. It imposses too much on the users to have to install Samba.

---

The onyl way to do it properly is to open the native Print Preview dialog.
When the user selects and print and then paper size and orientation, you have

[2019-10-10 10:05] jung-kurt commented on #320
Good point. This seems to point to some cross-platform GUI framework that has access to the native print dialog *and* can execute the PDF generation application. This application, which imports gofpdf, would accept parameters that would drive the PDF process.

[2019-10-11 00:49] GiveTimeToLife opened #323 "How to support Chinese, Japanese, Korean and other languages at the same time?"
As title,Hope to get a solution, thank you

[2019-10-11 01:00] jung-kurt commented on #323
If you cannot find a TrueType font that contains all of the glyphs you need, you will have to load them separately.
[code]

[2019-10-11 01:08] GiveTimeToLife commented on #323
Thank you for your reply！ Let me try

[2019-10-11 06:21] GiveTimeToLife commented on #323
unfortunately, i can ' t find a font that has all the truetypes i need, and a single load doesn ' t fit my needs。pdf.Write(16, "샤오케您好シャオ・ケ")

[2019-10-11 10:57] jung-kurt commented on #323
One manually intensive, fragile solution would be to write a script that identifies each UTF-8 code point that you need. Then you could use some font tool to generate your own custom font. I am not familiar with any tools that can do this, but I imagine they are out there.

[2019-10-11 18:17] tsawler opened #324 "Combining multiple PDFs not working as expected"
I have a slice of strings (called files in the code below), each pointing to a unique PDF that exist on the filesystem. All of the files use the same page size.

The code:

	finalPDF := gofpdf.New("P", "mm", "Letter", "./fonts")

	for _, x := range files {
		rs := getTemplatePDF(x)
		imp := gofpdi.NewImporter()
		tpl := imp.ImportPageFromStream(finalPDF, &rs, 1, "/MediaBox")
		nrPages := len(imp.G

[2019-10-11 18:19] tsawler commented on #324
Sorry -- I should have included the "getTemplatePDF()" function used in the first snippet:

	func getTemplatePDF(x string) io.ReadSeeker {
		infoLog.Println("Opening", x)
		file, err := os.Open(x)
		if err != nil {
			fmt.Println(err)
			return nil
		}

		defer file.Close()

		fileInfo, _ := file.Stat()
		var size = fileInfo.Size()
		infoLog.Println("Size:", size)
		buffer := make([]byte, size)

[2019-10-11 18:37] jung-kurt commented on #324
See the section **The range clause** in this [article](https://medium.com/@betable/3-go-gotchas-590b8c014e0a). Depending on how `files` is typed, you may need to have a construction like
[code]
instead of
[code]

[2019-10-11 18:49] tsawler commented on #324
Thanks. Files just just a slice of strings. I tried this anyway, but got the same results. I have manually checked the PDFs to be combined, and they are unique. I also write the file name to the console in getTemplatePDF(), and the correct file is being opened.

I'm stumped.

[2019-10-11 18:59] jung-kurt commented on #324
I don't think you want to take the address of `rs` (an io.ReadSeeker interface) in the line
[code]
but I am not sure if that is the source of the problem.

[2019-10-11 19:09] tsawler commented on #324
Thanks. I need a break from glowing rectangles, but will get back to this tonight. I'll let you know how I make out. I strongly suspect that my problem is the result of insufficient sleep and an excess of caffeine...

[2019-10-12 05:14] GiveTimeToLife commented on #323
Yes, I can use multiple language TTF files to generate the font files I need. Thank you again for

[2019-10-12 05:14] #323 closed

[2019-10-13 23:19] williamgorden opened #325 "Is it possible to combine 2 gofpdf.fpdf documents?"
I am using gofpdf to output structural calculations that can sometimes be more than 100 pages Long. I used to write these documents by hand in a word processor with a little help from Excel files for the calculations. I now have a little console program written in GO that does this much better for me with gofpdf.

I always have to combine 2 fpdfs into 1 document with pdf-merge after they are finis

[2019-10-14 00:04] jung-kurt commented on #325
Any comments, @phpdave11?

[2019-10-14 11:06] joeblew99 commented on #320
yep thats basically it.
I have not had time to dive into this yet though :)

[2019-10-14 11:13] williamgorden commented on #325
I did actually look up the Adobe pdf spec to try and understand how pdfs are made up. I also looked through your code to see if I could understand it enough to at least visualize a solution. I am a bit overwhelmed by the whole thing. I can easily imagine that there are many things to keep track of in just adding another fpdf-document to the end of the initial fpdf-document.

I am also a thankful u

[2019-10-14 13:02] jung-kurt commented on #325
Is it possible to build up two dynamic, non-PDF data structures during the construction phase? They would contain enough information to generate the PDFs. After this stage, the combined PDF could be generated in a single pass with no special logic needed for bookmark and page number calculations.

[2019-10-14 14:35] williamgorden commented on #325
The page numbers are the problem.

I need several lists in the first document that are based on the number of items of certain types in the second document: Illustrations, Calculations, Tables, Diagrams, etc. The lists need the page numbers where to find each item.

The first document is just the front matter with the general table of contents and all the lists.

This first document doesn't even g

[2019-10-14 15:30] jung-kurt commented on #325
It *may* be that aliases could help you. Have you looked at the [RegisterAlias](https://godoc.org/github.com/jung-kurt/gofpdf#example-Fpdf-RegisterAlias) example?

[2019-10-14 15:36] williamgorden commented on #325
That looks very interesting!!!

Is it possible to create more than one table of contents like this in 1 document?

Each of my lists is actually a table of contents.

[2019-10-14 15:42] jung-kurt commented on #325
Certainly! You just need to come up with a unique text key that will be replaced, when the document is rendered, with its corresponding text value.

[2019-10-14 15:46] williamgorden commented on #325
In the examples I see {mark %d}.
Can I use {content %d} for contents and {diagram %d} for diagrams to keep the lists separate??

[2019-10-14 15:53] jung-kurt commented on #325
Yes. You should use any text that will be recognized by the search-and-replace operation that takes place when the PDF is actually written. The [UTF-8 version of the example](https://godoc.org/github.com/jung-kurt/gofpdf#example-Fpdf-RegisterAlias-Utf8) shows different alias text. Even the curly braces are not necessary -- you just have to choose keys that won't otherwise occur in your text. (Othe

[2019-10-14 15:56] williamgorden commented on #325
I need to study the examples closely!!

Thankyou very much!!

There is something similar to this in LateX.

I just need to be careful about it.

We probably can close this issue as solved.

Or we can leave it  for someone who might need it.

Have a nice evening!

[2019-10-15 20:46] tsawler commented on #324
So I finally figured it out.

This suggestion:

is much appreciated, but ImportPageFromStream expects the address of an io.ReadSeeker. However, this is the line that had the problem. Even though tpl is being  set for each iteration of the loop through the slice of strings, only the last tpl is actually used. I had to dig through the code for awhile to figure that out.

Anyway, I just took a differ

[2019-10-15 20:46] #324 closed

[2019-10-18 00:45] jacobalberty commented on #320
@joeblew99  one option (if you're either on linux/osx or dealing with networked printers) is an ipp client like https://github.com/phin1x/go-ipp  you'd have to build the print dialog yourself though

[2019-10-18 11:05] Fank opened #326 "Charset issue with UTF-8 characters"
I tried following
[code]

And this is the result
![image](https://user-images.githubusercontent.com/1900106/67089519-1a53a580-f1a8-11e9-8273-88f5b2f46bd2.png)

[2019-10-18 11:43] Fank commented on #326
Ok, but why doesn't it support utf-8 by default?

This is the first golang library where i had encoding issues by default.

[2019-10-18 12:27] jung-kurt commented on #326
This package was ported from [FPDF](http://www.fpdf.org/) which itself does not support UTF-8. UTF-8 support in gofpdf was added earlier this year. Additional work will be needed to apply this support to the reader-embedded fonts. Use [gopdf](https://github.com/signintech/gopdf) if you don't want to bother with code pages.

[2019-10-18 12:58] Fank commented on #326
Thanks for the info and help, problem solved.

[2019-10-18 12:58] #326 closed

[2019-10-18 14:15] joeblew99 commented on #320
@jacobalberty thanks will try it now.

[2019-10-19 10:13] schooltech opened #327 "bottom margin for custom size pdf"
I created a 10cm*7.5cm pdf document, and set the margin to 0.5cm. The result is as shown in the figure, but the margins below are very large. If the pdf document is reduced in height, for example, it is changed to 7.0cm. The document becomes like this. How to solve? Thank you.

![pdf1](https://user-images.githubusercontent.com/16329726/67143246-10ab6a00-f29c-11e9-865c-05395d941100.png)
![pdf3](htt

[2019-10-19 11:31] jung-kurt commented on #327
You may want to disable automatic page breaks; see [`SetAutoPageBreak()`](https://godoc.org/github.com/jung-kurt/gofpdf#Fpdf.SetAutoPageBreak). By default, automatic page breaks are enabled and the bottom margin is set to 2 cm, regardless of the custom page size.

Alternatively, you can set the page break margin with a call to the same method, but I think in the case of tables it makes more sense

[2019-10-20 03:25] schooltech commented on #327
That's great, Thank you

[2019-10-20 03:25] #327 closed

[2019-10-21 20:55] jacobalberty commented on #320
I got this working with go-ipp so figured I'd post enough of my code here to help anyone else .
Fairly easy to use just instantiate `IPPDriver`  with the appropriate settings (user and password can be blank) and provide it to your `Fpdf.Output()` then call `IPPDriver.Print()` function with a name for your document.  If you want anything more advanced you would need to modify the code to fill out t

[2019-10-22 09:15] joeblew99 commented on #320
i looked here and only found HP printer supported: https://www.pwg.org/dynamo/eveprinters.php
SO i got turned off the idea of using it.
I guess this is wrong and lots of printers support IPP ?

[2019-10-22 21:24] jacobalberty commented on #320
@joeblew99 cups as of 2.3 is [deprecating printer drivers to rely on IPPE](https://www.cups.org/blog/2018-06-06-demystifying-cups-development.html) the logic being most printers sold after 2010 support  the IPPE standard.  So virtually any network printer should support IPP, not all will support PDF input I think I have a few older printers at work that claim not to support PDF.  I'm doing all my

[2019-10-23 14:34] MarErm27 opened #328 "Print a file if it has less than 8 pages in Windows"
Hello everyone! This is my first question at Github!
My task is to check how many pages contain a pdf document and if it has less than 8 pages print it silently. I'm using this imports
[code]
and code below
[code]

[2019-10-23 22:58] jung-kurt commented on #328
My guess is that `nrPages := len(imp.GetPageSizes())` is for some reason not returning the number of pages. (Any comment, @phpdave11?) I think `pdf.PageCount()` will always return the number of times `pdf.AddPage()` is called, and in this case, it will be limited to the value of nrPages.

Small hint unrelated to the issue: `os.Open()` returns an *os.File which implements the io.ReadSeeker interfac

[2019-10-24 08:27] MarErm27 commented on #328
Seems like this is not rare issue. I've tried this open source project http://www.xpdfreader.com/download.html
For the file "Incorrect number of pages.pdf" it says
I/O Error: Couldn't open file 'Incorrect number of pages.pdf'

I'm going to try to convert it. Probably with libreoffice. To word. I'll say if it's going to work.

I've tried to open it in browser and to get this information from consol

[2019-10-25 10:47] mapreal19 commented on #53
@hilljc117 @jung-kurt have you started this? I'm also interested in justifying text in HTML

[2019-10-25 14:34] huehnerhose commented on #317
I have the problem. My source PDF has portrait and landscape pages, when i import the source in my new pdf, the landscape pages get croped in width and get an added whitespace.

It looks like the source-page get "screenshot" with a portrait mask

	-----------------
	|               |
	|    SOURCE     |
	|               |
	|               |
	-----------------

	|XXXXXXXXX|
	|XXXXXXXXX|
	|X CROP XX|

[2019-10-25 16:24] ArtemKor commented on #294
@hyzgh Sorry, I made a mistake in defining the alphabet. But the question remains the same: Are you sure the font stsong.ttf contains Tibetan glyphs?

[2019-10-26 07:57] hyzgh commented on #294
@ArtemKor No, it doesn't. I need to transfer some `.txt` files to  `.pdf` files, but it seems that I could only check `.pdf` on my own to confirm whether there is some failing glyphs. And I would like to know whether there is a way to know the text will be empty by the code.

[2019-10-31 06:08] HishamRamadan opened #329 "Arabic characters are not connected"
Hello,
First of all, thanks so much for the great library, it's awesome!

Currently I am using this font (_https://www.1001freefonts.com/tajawal.font_). I downloaded the ".ttf" file, and use it as follows:

_pdf.RTL()
pdf.AddUTF8Font("tajawal", "", "Tajawal-Regular.ttf")_

The result is: ب س م الله ا ل ر ح م ن ا ل رح ي م
While it should be: بسم الله الرحمن الرحيم

Is there anything else I can do t

[2019-10-31 11:19] jung-kurt commented on #329
Unfortunately, I am out of my league here. @ArtemKor, do you have any insights?

[2019-11-01 07:03] GiveTimeToLife opened #330 "Hope it can be solved. Font file error, throw an exception or skip"
When I use a font file to write PDF, when the file contains unsupported characters. Expect to return an obvious error instead of an error "jung-kurt/gofpdf/fpdf.go:2789". Or you can skip unsupported data，Continue to write。

location:
jung-kurt/gofpdf/fpdf.go:2789  ==》 l += float64(cw[int(c)])

error:
panic: runtime error: index out of range [127775] with length 65536 [recovered]
	panic: runtime er

[2019-11-01 11:10] jung-kurt commented on #330
This is related to a shortcoming discussed in #255. The contributor of the UTF-8 code has not made any comments about this.

I think this is the most practical expedient at this point.

[2019-11-06 07:57] jacobalberty commented on #316
The font gets modified in two places within `utf8fontfile.go`, line 225 in the `splice` function. Because you are working with slices the arrays backing them get modified. `splice` gets called by the calls to `insertUint16` at lines 782, 786, and 790. If you simply modify `splice` to make a copy there before proceeding you need to be aware  it will make copies for the call at `insertUint16` as lin

[2019-11-06 11:16] jung-kurt commented on #316
Excellent insights and report, @jacobalberty. I will study your branches. How did you go about figuring how the backing array was modified?

[2019-11-06 15:43] jacobalberty commented on #316
@jung-kurt  I modified a report generator I had to hash the font bytes before and after  then backed out #318 to confirm that hashing the bytes would show the issue. Then went back to with #318 included  and started by looking at the `getTableData` function, I checked everywhere it was called then looked at where the results went eventually tracing it down to those append() calls. When I saw the s

[2019-11-06 20:37] jacobalberty commented on #316
Ok after thinking about it for a when today. It occurs to me that my
`worsefix` may actually be the ideal fix. Both of those functions have side
effects right now in that they (may) modify the you pass into them. The
worsefix branch removes, at least some of, those side effects

I'm typing on my phone by email right now so I don't have my original
analysis in front of me but worsefix should comple

[2019-11-06 20:46] jung-kurt commented on #316
Very impressive analysis, @jacobalberty. Thanks for delving into this and figuring out all of the implications.

[2019-11-07 02:48] snargleplax opened #333 "Empty lines inappropriately trimmed by MultiCell (regression)"
# Synopsis

As of 26853c1aa3805707c943e8cbb499e23763498014 (according to `git bisect`), MultiCell's behavior changed in a way that was not documented in the intent of PR #291 or referenced issue https://github.com/jung-kurt/gofpdf/issues/276.

# Repro

[code]

# Expected results

Output should be same as before referenced commit:

![image](https://user-images.githubusercontent.com/1844644/68355653

[2019-11-07 18:17] jung-kurt commented on #333
Thanks for the thorough investigation and test app. Sorry for the regression.

I agree. I'll focus on those operations.

[2019-11-07 19:13] jung-kurt commented on #333
I believe the problem is the way MultiCell handles trailing newlines. In particular, the [old code](
https://github.com/jung-kurt/gofpdf/blob/4635b768d124f5e588bfa817d1cf522128e8e6ec/fpdf.go#L2563-L2567) preserved all but the last trailing newline. The [revised code](https://github.com/jung-kurt/gofpdf/blob/106ebb343df00b76335e7932cb74baf76be0b09e/fpdf.go#L2565-L2570) strips them all. Your test co

[2019-11-07 21:55] snargleplax commented on #333
I've been looking it over and don't understand why the revision needed to change the blank line trimming at all. What happens if you revert both cases, and just leave the `isChinese` checks in place?

[2019-11-07 23:43] jung-kurt commented on #333
As the author of this change back in August, do you have any comments, @hyzgh?

[2019-11-08 00:52] hyzgh commented on #333
@jung-kurt @snargleplax I'm sorry for it.
![image](https://user-images.githubusercontent.com/31174102/68439746-c3b81500-0203-11ea-9643-f6c65b5fe42d.png)
When I wrote this code, I thought what original code wants to do is to remove extra line breaks, not matter UTF-8 or not-UTF-8. As you could see, the original code removes extra line breaks for UTF-8 but doesn't remove extra line breaks for not-UT

[2019-11-08 00:57] hyzgh commented on #333
I think that keeping UTF-8 and not-UTF-8 behave the same and adding a new method something like SetMultiCellTrailingNewlineMode will be a good idea.

[2019-11-08 11:53] jung-kurt commented on #333
I agree, @hyzgh.

The UTF-8 code is only about 6 months old, while the non-UTF-8 code is 6 years. In order to make both font types work similarly I think it will be less disruptive to remove, in both cases, only the last newline if it is present. I can then do one of three things:
* add `SplitLinesExt()` and `MultiCellExt()` that accepts a new line split structure that has a flag that indicates th

[2019-11-08 18:03] snargleplax commented on #333
I'd favor the third option for being parsimonious and limiting the scope of what `gofpdf` needs to be responsible for -- that's what I'd expect by default from a Go library, in the spirit of making small, composable components.

However, that change seems like it'd be a regression for existing code that doesn't have that `TrimRight` call. To avoid breaking anyone at all, but still fix the inconsis

[2019-11-09 14:29] jung-kurt commented on #316
Many thanks, @jacobalberty for putting this issue to rest ( 47a2c24121ba649b2194251b4e860658a57db47e).

[2019-11-09 14:29] #316 closed

[2019-11-09 17:34] jung-kurt commented on #333
Good points about using the variadic kluge.

I have reinstated the previous behavior for non-UTF-8 fonts. See [MultiCell()](https://godoc.org/github.com/jung-kurt/gofpdf#Fpdf.MultiCell) for my note on this.

[2019-11-10 07:11] snargleplax commented on #333
Awesome, that looks great. Thanks for the quick attention @jung-kurt and @hyzgh.

[2019-11-10 07:12] #333 closed

[2019-11-15 10:23] rahulkarmore commented on #6
is there any option to generate pdf in other languages except English in Golang.

[2019-11-15 12:15] jung-kurt commented on #6
See [this example](https://godoc.org/github.com/jung-kurt/gofpdf#example-Fpdf-AddUTF8Font).

[2019-11-17 08:50] HishamRamadan commented on #329
Thanks @jung-kurt for your reply.
@ArtemKor; Your kind help is really appreciated.

[2019-11-18 06:54] david-wiesner opened #336 "Text justification for texts with more than one line"
Is there a possibility to justify text blocks? If not could you please implement it?

[2019-11-19 11:49] jung-kurt commented on #336
See the [SplitLines example](https://godoc.org/github.com/jung-kurt/gofpdf#example-Fpdf-SplitLines). It generates [this PDF](https://github.com/jung-kurt/gofpdf/blob/c86cd48299466ecf5397c9c7fbdd5858bbd71f7b/pdf/reference/Fpdf_Splitlines.pdf).

[2019-11-19 18:43] #300 closed

[2019-11-19 18:45] #306 closed

[2019-11-19 18:46] #315 closed

[2019-11-19 18:46] #325 closed

[2019-11-19 18:53] jung-kurt commented on #330
#337 fixes this when it occurs within a call to `MultiCell()`. An error will be returned in the case of an out-of-range rune. Errors can be handled as described in the [documentaiton](https://godoc.org/github.com/jung-kurt/gofpdf#hdr-Errors).